<plugin name='banner-ui-ss' version='0.0.38' grailsVersion='1.3.7 &gt; *'>
  <author>SunGard Higher Education</author>
  <authorEmail>horizon-support@sungardhe.com</authorEmail>
  <title>SunGard Higher Education Banner UI Plugin</title>
  <description>Web user interface components for Banner Self-Service.</description>
  <documentation>http://grails.org/plugin/banner-ui-ss</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>SeleniumConfig</resource>
    <resource>SelfServiceResources</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>com.sungardhe.banner.ui.I18nController</resource>
    <resource>com.sungardhe.banner.ui.ss.UiCatalogController</resource>
    <resource>com.sungardhe.banner.ui.ClientLoggingTagLib</resource>
    <resource>com.sungardhe.banner.ui.I18nTagLib</resource>
    <resource>com.sungardhe.banner.ui.ViewResourcesTagLib</resource>
  </resources>
  <dependencies>
    <plugin name='bannerCore' version='0.2.38 =&gt; *' />
    <plugin name='cacheHeaders' version='1.1.5 =&gt; *' />
    <plugin name='csv' version='0.3 =&gt; *' />
    <plugin name='feeds' version='1.5 =&gt; *' />
    <plugin name='jquery' version='1.6.1.1 =&gt; *' />
    <plugin name='jqueryUi' version='1.8.11 =&gt; *' />
    <plugin name='selenium' version='0.6 =&gt; *' />
    <plugin name='seleniumRc' version='1.0.2 =&gt; *' />
  </dependencies>
  <behavior />
</plugin>