.placeholder-theme-name {
  content:  $themename;
}

/*** Tweaks to base UI */
#header-main-section-east-part #username {
  padding-right:0.5em; /* space after name */
}
#header-main-section-east-part #mepDiv {
  padding-left:0.5em;
}
.institutionalBranding {
  width: 20em;
}

#header-main-section-east-part #mepDiv  {
    border-left-color: 0px; /*!! Removed 1px unneeded line  */
}

#header-main-section-east-part #signInButton  {
    border-left: 0px; /*!! Removed 1px unneeded line  */
}


#header-main-section-east-part #userDiv {
    border-left: 0px; /*!!1px */
}


#header-main-section-east-part #toolsButton {
    border-left: 0px; /*!!1px*/
}

/* end corrections*/


:focus {
    outline-color: $themecolor3-4;
}


/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-color: $themecolor1-5;
    color: $themecolor1-1;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    color: $themecolor1-5;
    background-color: $themecolor1-1;
}
.ui-state-hover a, .ui-state-hover a:hover {
    color: $themecolor1-5;
    background-color: $themecolor1-1;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background-color: $themecolor1-1;
    color: $themecolor1-5;
}
.ui-tabs .ui-tabs-nav {
    border-color: $themecolor1-3; /*#719CAC;*/
}
.ui-tabs .ui-tabs-nav li.ui-state-default {
    border-color: transparent $themecolor1-3; /*#719CAC;*/
}

.ui-datepicker .ui-state-highlight {
    color: $themecolor1-3; /*#2E6EBE;*/
}
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    color: $themecolor1-1;
    background-color: $themecolor1-5;
}

#multiCalendarContainer .ui-state-hover a, #multiCalendarContainer .ui-state-hover a:hover {
/*!! Evaluate these gradients
    background: -moz-linear-gradient(50% 11.8085% -90deg, rgba(27, 86, 145, 1) 0%, rgba(16, 73, 122, 1) 24.633%, rgba(4, 59, 98, 1) 57.0096%, rgba(0, 54, 89, 1) 76.9302%);
    background: -webkit-gradient(linear, 50% 11.8085%, 50% 79.654%, color-stop(0, rgba(27, 86, 145, 1)), color-stop(0.3202, rgba(16, 73, 122, 1)), color-stop(0.741057, rgba(4, 59, 98, 1)), color-stop(1, rgba(0, 54, 89, 1)));
*/
    background: none; /* remove gradients */
    color: $themecolor1-1;
    background-color: $themecolor1-5;
}

#multiCalendarContainer .ui-state-active, #multiCalendarContainer .ui-widget-content .ui-state-active, #multiCalendarContainer .ui-widget-header .ui-state-active {
    background: none;
    color: $themecolor1-1;
    background-color: $themecolor1-5;
}

.ui-datepicker-header .ui-state-hover {
    background-image: none;
    color: $themecolor1-3; /*#2E6EBE;*/
}

.ui-datepicker .ui-state-highlight {
    background-image: none;
    border-color: #C5DBEC;
    color: $themecolor1-3; /*#2E6EBE;*/
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight, .ui-datepicker .ui-datepicker-calendar .ui-state-hover {
    background-image: none;
    background-color: $themecolor1-5;
    border-color: $themecolor1-1;
    color: $themecolor1-2;
}

.ui-datepicker .ui-state-default .ui-state-hover {
    background-color: $themecolor1-4; /*#B2CEDF;*/
}

#multiCalendarContainer .ui-state-focus, #multiCalendarContainer .ui-widget-content .ui-state-focus, #multiCalendarContainer .ui-widget-header .ui-state-focus {
    background-color: $themecolor1-1;
    color: $themecolor1-5;
}

#multiCalendarContainer .ui-state-hover a, #multiCalendarContainer .ui-state-hover a:hover {
    background-color: $themecolor1-1;
    color: $themecolor1-5;
}

#multiCalendarContainer .ui-state-active, #multiCalendarContainer .ui-widget-content .ui-state-active, #multiCalendarContainer .ui-widget-header .ui-state-active {
    background-image: none;
    background-color: $themecolor1-1;
    color: $themecolor1-5;
    border-color: $themecolor1-0;
}

input.hasMultiCalendarPicker:hover {
    border-color: $themecolor1-3; /*#4282B3;*/
}

input.hasMultiCalendarPicker:focus {
    border-color: $themecolor1-3; /*#4282B3;*/
}

input.hasMultiCalendarPicker {
    border-color: $themecolor1-3; /*#778FA0;*/
}

div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.xe-extensions-editor.ui-draggable.ui-resizable > div.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
    background-color: $themecolor1-2;
    background-image:none;
}

.primaryButton span {
    color: $themecolor1-3; /*#0989d7;*/
}


.modalWindowTop .modalWindowTitle {
    color: $themecolor1-2; /*#0c4e8c;*/
}

.modalWindowTopblue .modalWindowTitle {
    color: $themecolor1-4; /*#0989d7;*/
}

.headerBottomBorder {
    background: $themecolor1-2; /*#00559e;*/
}


.browseMenuShadow {
    border-color: $themecolor1-2; /*#13689E;*/
    background: $themecolor1-4; /*#477b9c;*/

}

#browseButtonState.active {
    background-color: $themecolor1-4; /*#477b9c;*/
    border-color: $themecolor1-2; /*#13689E;*/
}


#outerFooter {
    background-image: none;
    background-color: $themecolor1-5;
    color: $themecolor1-2;
}

.downButton:hover, .upButton:hover {
    border-color: $themecolor1-4; /*#2477C1;*/
}

.navList span:hover {
    color: $themecolor1-2; /*#11679D;*/
    background-color: $themecolor1-5; /*E1EFFD;*/
}

.selectedListItem span {
    color: #ffffff;
    background-color: $themecolor1-1; /*#005C96;*/
}

.selectedListPage span {
    color: #ffffff;
    background-color: $themecolor1-2; /*#7FADCA;*/
}

.navList .scrollableListItem span:hover {
    color: $themecolor1-3; /*#0C60A6;*/
    background-color: $themecolor1-5; /*#D9F4FB;*/
}

.navList .scrollableListItem:focus span {
    color: $themecolor1-3; /*#0C60A6;*/
    background-color: $themecolor1-5; /*#D9F4FB;*/
}

.navList .parent span:hover {
    color: $themecolor1-2; /*#11679D;*/
    background-color: $themecolor1-5; /*E1EFFD;*/
}

.navList .parent:focus span {
    color: $themecolor1-2; /*#11679D;*/
    background-color: $themecolor1-5; /*E1EFFD;*/
}

div[id=mainMenuContainer] .navList .parent:focus span {
    color: $themecolor1-2; /*#11679D;*/
    background-color: $themecolor1-5; /*#D9E7EF;*/
}


#helpWindowTab #helpWindowTabText {
    color: $themecolor1-4; /*#0084d5;*/
}


#helpWindowControls #helpWindowTitle {
    color: $themecolor1-4; /*#0084d5;*/
}

#openItemsHeader div h3 {
    color:$themecolor1-3; /*#0C60A6;*/
}

#openItemsBody {
    border-left-color: $themecolor1-4; /* #9AC0D2 */
    border-right-color: $themecolor1-4; /* #9AC0D2 */
    background-color: #ffffff;
}

#openItemsFooter {
    border-color: $themecolor1-4; /* #9AC0D2 */
}

#buttonBar span:hover {
    color:$themecolor1-3; /*#0C60A6;*/
}

.activeOpenItem {
    background-color: $themecolor1-4; /* #9AC0D2 */
    color: #ffffff;
    border-bottom-color: #ffffff;
}

#header-main-section {
    background-color: $themecolor1; /* use selected color */
    color: $themecolor1_text;
}

#header-main-section-east-part {
    background-color: $themecolor1-2;
}

#header-main-section-east-part #username{
    background-color: $themecolor1-2;
}

.institutionalBranding {
    background-image: url("$themelogo");
}

.notification-center {
    background-color: $themecolor3-1;
}

.notification-center-count {
    background-color: $themecolor3-1;
}

.notification-center-anchor{
    background-color: $themecolor3-3; /*#FFD079*/
}

@media only screen and (min-width: 0px) and (max-width: 767px) {

    #signInCanvas {
        background-color: #FFFFFF;
    }

    #signInCanvas .canvas-section, #signInCanvas .canvas-item {
        border-bottom-color: $themecolor1-3; /*D0DBDE;*/
    }

    #signInCanvas.signIn-active {
        background-color: #FFFFFF;
    }

    #signList .canvas-section {
        color: $themecolor1-2; /*41566F;*/
        background-color: $themecolor1-5; /*F9FAFB;*/;
    }

    #signList .canvas-item {
        color: $themecolor1-2; /*#41566F*/
        border-bottom-color: $themecolor1-3; /*#D0DBDE*/
    }

    #signList .canvas-item:hover, #signList .canvas-item:focus {
        background-color: $themecolor1-5; /*#F3FCFF*/
    }

    .signIn-mobile.signIn-expanded:after {
        border-bottom-color: #ffffff;
        border-left-color: transparent;
        border-right-color: transparent;
    }
}


/*Tablet device*/

@media only screen
and (min-width: 768px)
and (max-width: 1024px) {

    #header-main-section-east-part #signInButton {
        border-left: 0px; /*!!1px*/
        background-color: $themecolor1-2; /*!!#1B6496; */
    }

    #header-main-section-east-part #toolsButton {
        border-left: 0px; /*!!1px*/
    }

    #header-main-section-east-part #userDiv {
        border-left: 0px; /*!!1px*/
        background-color: $themecolor1-2; /*!!#1B6496;*/
    }

}

a.breadcrumbButton:link, a.breadcrumbButton:active, a.breadcrumbButton:visited , .breadcrumbButton {
    color: $themecolor1-2; /*41566F;*/
}

#title-panel{
    color: $themecolor2-3; /*!!#557287;*/
}

@media only screen
and (min-width: 0px)
and (max-width: 767px) {

    #breadcrumb-panel{
        color: $themecolor1-2; /*41566F;*/
    }
}

#menu .menu-text, #menu .menu-subheader-text{
    color: $themecolor1-2; /*41566F;*/
}

.menu-wrapper a:link,.menu-wrapper a:visited,.menu-wrapper a:hover,.menu-wrapper a:active {
    color: $themecolor1-2; /*41566F;*/
}

#toolsList .canvas-section {
    color: $themecolor1-2; /*41566f;*/
    background-color: $themecolor1-5; /*f9fafb;*/
    border-bottom-color: $themecolor1-3; /*d0dbde;*/
}
#toolsList .canvas-item {
    color: $themecolor1-2; /*#41566f;*/
    border-bottom-color: $themecolor1-3; /*d0dbde;*/
    background-color: $themecolor1-5; /*#f9fafb;*/
}
#userList .canvas-section {
    color: $themecolor1-2; /*41566f;*/
    background-color: $themecolor1-5; /*f9fafb;*/
    border-bottom-color: $themecolor1-3; /*d0dbde;*/
}

#userList .canvas-item {
    color: $themecolor1-2; /*41566f;*/
    border-bottom-color: $themecolor1-3; /*d0dbde;*/
}

.paging_full_numbers span.paginate_active {
	background-color: $themecolor1-4; /*#99B3FF;*/
}

table.display tr.even.row_selected td {
    background-color: $themecolor1-0;
    color: $themecolor1-5;
}

table.display tr.odd.row_selected td {
    background-color: $themecolor1-0;
    color: $themecolor1-5;
}

table.display tr.even.row_hover td,
table.display tr.odd.row_hover td,
table.display tr.odd.row_hover td.sorting_1,
table.display tr.even.row_hover td.sorting_1 {
    background-color: $themecolor1-4; /*#B2CEDF;*/
}


input.combobox:hover , input.hasDatepicker:hover{
    border-color:$themecolor1-4; /*#4282B3;*/
}

input.combobox:focus,input.hasDatepicker:focus{
    border-color:$themecolor1-4 !important; /*#4282B3 !important;*/
}

ul.ui-tabs-nav {
    background: $themecolor1-4 none; /*#CCDFE9 */
    border-bottom-color: $themecolor1-2; /*#7F9AAD;*/
}

#simplemodal-overlay {background-color:#000000;}
#simplemodal-container {
    background-color:$themecolor1-5; /*#87b4d0;*/
    border-bottom-color: $themecolor1-5; /*#87b4d0;*/
}

input.combobox {
    border-color: $themecolor1-3; /*#778FA0;*/
}

input.hasDatepicker {
    border-color: $themecolor1-3; /*#778FA0;*/
}
ul.ui-autocomplete {
    border-color: $themecolor1-3; /*#4282b3;*/
}

ul.ui-autocomplete a.ui-state-hover {
    background-color: $themecolor1-3; /*#778fa0;*/
}


.dataTables_wrapper table tbody tr td form input {
    border-color: $themecolor1-3; /*#778FA0;*/
}

.ui-pillbox li.ui-state-highlight {
    background: $themecolor1-4; /*#9fbed4;*/
}

.notification-center-flyout {
    background-color: $themecolor3-1;
    color: $themecolor3-5;
    box-shadow: 0 1px 1px #000000;
}

.grid tbody tr td form input {
    border-color: 1px solid $themecolor1-3; /*#778FA0;*/
}

.grid .hasMultiCalendarPicker {
    border-color: $themecolor1-3; /*#778FA0;*/
}


.focus-by-row .grid tr.focus {
    background-color:$themecolor1-4 !important; /*#CCDFE9 */ /* TODO: !important is required because .grid tr td:first-child is flagged !important. */
}

.focus-by-cell .grid td.focus {
    background-color:$themecolor1-4 !important; /*#CCDFE9 *//* TODO: !important is required because .add-row-selected is flagged !important. */
}

.add-row-hover {
    background-color: $themecolor1-4 !important; /*#B2CEDE */
    border-color: $themecolor1-4 !important; /*#B1CEE0*/
}

.add-row-selected {
    border-color: $themecolor1-2 !important; /*#005C96*/
    background-color: $themecolor1-2 !important; /*#005C96*/
}

.select2-drop-active {
    border-top-color: $themecolor1-4; /*#5897fb;*/
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top-color: $themecolor1-4; /*#5897fb;*/
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border-top-color: $themecolor1-4; /*#5897fb;*/
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border-color: $themecolor1-4; /*#5897fb;*/
    border-top-color: transparent;
}
.select2-results .select2-highlighted {
    background-color: $themecolor1-3; /*#3875d7;*/
    color: #ffffff;
}

.select2-container-multi.select2-container-active .select2-choices {
    border-color: $themecolor1-4; /*#5897fb;*/
}

td.fge-student-card-fullName-link {
    color: $themecolor1-3; /*#337ab7;*/
}

.studentProfileCard ul li a{
    color:$themecolor1-3; /*#336699;*/
}
a {
  color: $themecolor1-3; /*#428bca;*/
}

a:hover,
a:focus {
  color: $themecolor1-3; /*#2a6496;*/
}

.text-primary {
  color: $themecolor1-3; /*#428bca;*/
}

.text-primary:hover {
  color: $themecolor1-2; /*#3071a9;*/
}

.text-info {
  color: $themecolor1-3; /*#3a87ad;*/
}

.text-info:hover {
  color: $themecolor1-2; /*#2d6987;*/
}


.form-control:focus {
  border-color: $themecolor1-4; /*#66afe9;*/
}
.btn-primary {
  color: #ffffff;
  background-color: $themecolor1-3; /*#428bca;*/
  border-color: $themecolor1-2; /*#357ebd*/
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: $themecolor1-3; /*#3276b1;*/
  border-color: $themecolor1-2; /*#285e8e;*/
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: $themecolor1-4; /*#428bca;*/
  border-color: $themecolor1-3; /*#357ebd;*/
}

.btn-info {
  color: #ffffff;
    background-color: $themecolor1-4; /*#5bc0de;*/
  border-color: $themecolor1-3; /*#46b8da;*/
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: $themecolor1-3; /*#39b3d7;*/
  border-color: $themecolor1-2; /*#269abc;*/
}


.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: $themecolor1-5; /*#5bc0de;*/
  border-color: $themecolor1-4; /*#46b8da;*/
}

.btn-link {
  color: $themecolor1-4; /*#428bca;*/
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: $themecolor1-4; /*#428bca;*/
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: $themecolor1-4; /*#428bca;*/
}

.nav .open > a .caret,
.nav .open > a:hover .caret,
.nav .open > a:focus .caret {
  border-top-color: $themecolor1-3; /*#2a6496;*/
  border-bottom-color: $themecolor1-3; /*#2a6496;*/
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: $themecolor1-4; /*#428bca;*/
}

.nav .caret {
  border-top-color: $themecolor1-4; /*#428bca;*/
  border-bottom-color: $themecolor1-4; /*#428bca;*/
}

.nav a:hover .caret {
  border-top-color: $themecolor1-3; /*#2a6496;*/
  border-bottom-color: $themecolor1-3; /*#2a6496;*/
}


.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #ffffff;
  background-color: $themecolor1-4; /*#428bca;*/
  border-color: $themecolor1-4; /*#428bca;*/
}

.label-primary {
  background-color: $themecolor1-4; /* #428bca; */
}

.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: $themecolor1-4; /*#3071a9;*/
}

.label-info {
  background-color: $themecolor1-5; /*#5bc0de;*/
}

.label-info[href]:hover,
.label-info[href]:focus {
  background-color: $themecolor1-4; /*#31b0d5;*/
}

a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: $themecolor1-3; /*#428bca;*/
  background-color: #ffffff;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: $themecolor1-4; /*#428bca;*/
}

.alert-info {
  color: $themecolor1-3; /*#3a87ad;*/
  background-color: $themecolor1-5; /*#d9edf7*/
  border-color: $themecolor1-4; /*#bce8f1;*/
}

.alert-info hr {
  border-top-color: $themecolor1-4; /*#a6e1ec;*/
}

.alert-info .alert-link {
  color: $themecolor1-2; /*#2d6987;*/
}
.progress-bar {
  color: #ffffff;
  background-color: $themecolor1-4; /*#428bca;*/
}

.progress-bar-info {
  background-color: $themecolor1-4; /*#5bc0de;*/
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  color: #ffffff;
  background-color: $themecolor1-4; /*#428bca;*/
  border-color: $themecolor1-4; /*#428bca;*/
}

.panel-primary {
  border-color: $themecolor1-4; /*#428bca;*/
}

.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: $themecolor1-4; /*#428bca;*/
  border-color: $themecolor1-4; /*#428bca;*/
}

.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: $themecolor1-4; /*#428bca;*/
}

.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: $themecolor1-4; /*#428bca;*/
}

.panel-info {
  border-color: $themecolor1-4; /*#bce8f1;*/
}

.panel-info > .panel-heading {
  color: $themecolor1-3; /*#3a87ad;*/
  background-color: $themecolor1-5; /*#d9edf7;*/
  border-color: $themecolor1-4; /*#bce8f1;*/
}

.panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: $themecolor1-4; /*#bce8f1;*/
}

.panel-info > .panel-heading > .dropdown .caret {
  border-color: $themecolor1-3 transparent; /*#3a87ad transparent;*/
}

.panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: $themecolor1-4; /*#bce8f1;*/
}


.progress-bar {
    background: #555555;
    color: $themecolor1-3; /*#225A85;*/
}

.progress-bar > span {
    background-color: $themecolor3-4; /*#F1CF79;*/
}

.modal-dialog .progress-bar .inner-div *, .progress-bar .inner-div * {
    color: $themecolor1-3; /*#225A85;*/
    background-color: $themecolor3-4; /*#F1CF79;*/
}

label {
  color: $themecolor2-2;
}

.xe-badge {
  color: $themecolor2-2;
}

.primary,
.primary:hover:not([disabled]),
.primary:active:not([disabled]) {
  color: $themecolor1-2;
  background-color: $themecolor1-5;
  border-color: $themecolor1-1;
/*!!leave grey  box-shadow: inset 0px -4px 0px #themecolor2;*/
}

.primary:disabled {
  color: $themecolor1-2;
  background-color: $themecolor1-4;
  border-color: $themecolor1-2;
/*!!leave grey  box-shadow: inset 0px -4px 0px $themecolor2;*/
}

.secondary,
.secondary:hover:not([disabled]),
.secondary:active:not([disabled]) {
  color: $themecolor3-2;
  background-color: $themecolor3-5;
  border: 1px solid $themecolor3-1;
/*  box-shadow: inset 0px -4px 0px $themecolor3;*/
}

.secondary:disabled {
  color: $themecolor3-2;
  background-color: $themecolor3-4;
  border: $themecolor3-2;
/*  box-shadow: inset 0px -4px 0px $themecolor3-4;*/
}

.dropdown {
  color: $themecolor2-3;
  background-color: $themecolor2-5;
  border-color: $themecolor2-1; /*#869FB1;*/
/*  box-shadow: inset 0px -4px #DEE5E7;*/
}

ul.dropdown-menu li:hover {
  outline-color: $themecolor1-4; /*#B0DEEC;*/
}

.placeholder {
  color: $themecolor1-3; /*#869FB1;*/
}

.glyphicon-chevron-down {
  color: $themecolor1-3; /*#869FB1;*/
}

.dropdown:focus {
  background-color: $themecolor1-5;
  border-color: $themecolor1-2; }

.default {
  border-color: $themecolor2-1;
  background-color: $themecolor2-5; }

.schedule-true {
  color: $themecolor2-3;
  background-color: $themecolor2-5; }

input.cmn-toggle-round + label:after {
  background-color: #FFFFFF;
  border-color: $themecolor1-2; /*#869FB1;*/
}

input.cmn-toggle-round + label:before {
  background-color: #F6F8F8;
  border-color: $themecolor1-2; /*#869FB1;*/
}


.label, .labels {
  color: $themecolor2-3;
}

.comments-field {
  border-color: $themecolor1-2; /*#869FB1;*/
}

textarea:focus {
  color: $themecolor2-3;
  border-color: $themecolor2-1;
  background-color: $themecolor2-5;
/*  box-shadow: inset 0px 2px 2px #CBE2E8;*/
}

.text-field {
  border-color: $themecolor1-2; /*#869FB1;*/
}

.text-field:focus {
  background-color: $themecolor2-5;
  color: $themecolor2-3;
  border-color: $themecolor2-1;
/*  box-shadow: inset 0px 2px 2px #CBE2E8;*/
}

.readonly {
  color: $themecolor1-2; /* #869FB1; */
  background-color: $themecolor1-5; /*#F1F4F6;*/
  border-color: $themecolor1-2; /* #869FB1; */
/*  box-shadow: inset 0px -2px 4px #E2EAEF;*/
}

.simple-input-field {
  border-color: $themecolor1-2; /* #869FB1; */
  background-color: #FFFFFF;
}

.simple-input-field:focus {
  border-color: $themecolor2-1;
  color: $themecolor2-3;
  background-color: $themecolor2-5;
}

.readOnly {
  background-color: $themecolor1-5; /*#F1F4F6;*/
  border-color: $themecolor1-1; /* #869FB1; */
  color: $themecolor1-2; /* #869FB1; */
}


.headings, .lists, .inline, .paragraph, .hr {
  color: $themecolor2-1;
  background-color: $themecolor2-5;
}
.anchor {
  color: $themecolor1-1;
  background-color: $themecolor2-5;
}

.typography {
  color: $themecolor2-1;
  background-color: $themecolor2-5;
}

.logo-white {
  background-color: $themecolor1-5;
  color: $themecolor1-1;
}

.horizontal-row {
  border-color: $themecolor2-1;
}

.pri-color1 {
  background-color: $themecolor1-2;
  border-color: $themecolor1-1;
}


@media only screen and (max-width: 769px) {
  .search-container .simple-input-field {
  border-color: $themecolor1-2; /* #869FB1; */
  }
}

.schedule-false {
  color: #94A1AD;
}

.schedule-true {
  color: $themecolor2-2;
  background-color: $themecolor2-5;
}

.table-container {
  border-color: $themecolor2-1;
/**Too much color:  background-color: $themecolor2-5;*/
  color: $themecolor2-2;
}

table caption {
  border-bottom-color: $themecolor2-1;
  color: $themecolor2-2;
  background-color: $themecolor2-5;
}


.data-table tbody tr, .noHeight .data-table tbody tr:first-child {
  border-top: 1px solid $themecolor2-1;
}

.data-table thead tr th {
  border-right-color: $themecolor2-3; /*#98AEBE;*/
  color: $themecolor2-2;
/**Too much color:    background-color: $themecolor2-5; */
}


.pagination-container .pagination-controls button,
.pagination-container .pagination-controls input,
.pagination-container .pagination-controls select {
border-color: $themecolor1-2; /* #869FB1; */
}

.column-filter-button {
border-color: $themecolor1-2; /* #869FB1; */
}

/**************************** Header and breadcrumb **************************************/
#title-panel h1 {
    color: $themecolor1-2;
    background-color: $themecolor1-5;
}

#title-panel {
    background: $themecolor1-5;
    border-bottom: none;
}

/*
This gives a bit too much color
.container-fluid {
    background: $themecolor1-5;
    color: $themecolor1-2;
}
*/

.app-header {
    border-bottom-color: #b7c6d1;
}

.tabs li a {
    color: $themecolor2-3;
}

.tabs li a.active {
    color: $themecolor2-3;
    border-bottom-color: $themecolor2-3;
}

a:focus{
    outline-color: $themecolor1-4; /*#B2DEEB*/
}
select:focus, input:focus, img:focus{
    outline-color: $themecolor1-4; /*#B2DEEB;*/
}
.gradeBook-buttons-disabled {
    border-color: $themecolor1-4; /*#BECCD7;*/
    background-color: $themecolor1-5; /*F9FAFB;*/
    color:$themecolor1-3; /* #869FB1; */
}
.gradeBook-buttons-enabled {
  border-color: $themecolor1-1;
    background-color: $themecolor1-5;
    color: $themecolor1-2;
}

.gradeBook-buttons.active, .gradeBook-buttons:hover {
    background-color: $themecolor1-1;
    color: $themecolor1-5;
}

.btn-mobile {
    border-color: $themecolor1-4; /*#BECCD7;*/
    background-color: #FFFFFF;
    color:$themecolor1-3; /* #869FB1; */
}

/*************************** Side-panel ******************************************/
.side-panel ul li a.active {
    color: $themecolor2;
    background-color:$themecolor2-5
    border-bottom-color: $themecolor2-2;
}

.noCourseData {
    background: $themecolor2-5;
    color: $themecolor2-2;
    border-bottom-color: $themecolor2-1; /*#BECCD7;*/
}

.side-panel .infoTextTitle {
    background: $themecolor2-5;
    color: $themecolor2-2;
    border-bottom-color: $themecolor2-1;
}


/* Too much color
.side-panel .infoTextBody {
    color: $themecolor2-2;
    background: $themecolor2-5;
}
*/
.side-panel .infoTextFooter {
    color: $themecolor2-2;
/* Too much color:   background: $themecolor2-5; */
}

/* too much color
.side-panel-course-details .course-details-gradable {
    background: $themecolor2-5;
    color: $themecolor2-2;
    border-color: $themecolor2-1;
}
*/
.side-panel-course-details hr, .side-panel-student-details hr {
    border-bottom-color: $themecolor2-1;
}


.side-panel-student-details label {
    color: $themecolor2-2;
/*    background-color: $themecolor2-5;*/
}

.studentDetails {
    border-top-color: $themecolor2-1;
}

.studentDetails h4 {
    border-top-color: $themecolor2-1;
    border-bottom-color: $themecolor2-1;
}

.studentDetails-top {
    border-bottom-color: $themecolor2-1;
}

.confidential-shield{
    color: #D16C1F;
}


.person-deceased {
    color: #D16C1F;
}

.confidential_deceased {
    background: $themecolor2-5;
    color: $themecolor2-2;
  border-color: $themecolor2-1;
}


.separator {
    border-right-color: #b7c6d1;
}
@media only screen and (max-width: 769px) {
    .side-panel {
      border-color: #b7c6d1;
    }

    .select2-default {
      border-color: $themecolor1-3; /* #869FB1; */
    }

    .course-drop-down-container {
        background: $themecolor1-5;
        color: $themecolor1-2;
    }


    .commentOptions {
      border-color: $themecolor1-3; /* #869FB1; */
        color: $themecolor1-3; /* #869FB1; */
    }
}

/******************* Tablet devices ****************************/
@media only screen and (min-width: 769px) and (max-width: 1025px) {
    .side-panel {
      border-color: #b7c6d1;
    }

    .column-filter-button {
        background-color: #ffffff;
      border-color: $themecolor1-3; /* #869FB1; */
    }
}

@media only screen and (min-width: 1024px) {
    .column-filter-button {
        background-color: #ffffff;
      border-color: $themecolor1-3; /* #869FB1; */
        color: #000000;
    }
}


.select2-container .select2-choice {
    color: #444444;
}

.select2-default {
    color: $themecolor2-2 !important;
    background-color: $themecolor2-5;
}

.commentOptions {
    color: $themecolor2; /*!!#557287;*/
    background-color: $themecolor2-5;
    border-color: $themecolor2-2;
}

#dragtable th, #dragtable td {
    background: $themecolor2-2 !important;
    color: $themecolor2-5;
}

.drag-ghost, #targetT{
    background: $themecolor1-5;
    color: $themecolor1-2;
}

/*****************Validators ********************/
.error {
    border:1px solid #800000 !important;
}

.error:focus {
    border:1px solid #800000 !important ;
}

.duplicate-header:focus {
    outline: 2px solid $themecolor1-4; /*#B2DEEB;*/
}
.table-container.fixedHeader .data-table th .duplicate-header {
    color:$themecolor2;
/**Too much color:    background-color: $themecolor2-5; */
    border-left-color: $themecolor2-2;
}
.data-table tbody tr.selected-row{
    color: #31383E;
    background-color: #F3FCFF !important;
}
.data-table tbody tr:focus{
    outline: 2px solid $themecolor1-4; /*#B2DEEB;*/
}
.data-table tbody tr:hover, .data-table tbody tr.active-row {
    background-color: #ffffff;
}

.message-container{
    color: $themecolor2;
    background-color: $themecolor2-5;
    border-top-color: #d3d3d3;
    border-bottom-color: #d3d3d3;
}
.table-sub  input[type="text"], .table-sub  input[type="number"]  {
    color: $themecolor2; /*!!#557287;*/
      border-color: $themecolor2-2;
      background-color: $themecolor2-5;
}

@media only screen and (max-width: 769px) {
    #dataTable tr td:first-child {
        border-bottom-color: #d3d3d3 !important;
        color: $themecolor1-4; /*#0C8CB4;*/
    }
    #dataTable tr td:nth-child(2) {
        border-bottom: 1px solid #d3d3d3 !important;
    }

    input[type="text"] {
        color: $themecolor2; /*!!#557287;*/
        background-color: $themecolor2-5;
      border-color: $themecolor2-2;
    }
}

@media only screen and (min-width : 769px) and (max-width: 1025px) {
    .data-table thead tr {
        border-bottom-color: $themecolor2-2
    }
    .table-head{
        border-bottom-color: #d3d3d3;
    }
}

@media only screen and (min-width: 1025px) {
    .data-table thead tr {
        border-bottom-color: $themecolor2-2
    }
    .table-head{
        border-bottom-color: #d3d3d3;
    }
    .pagination-container{
        background: #ffffff;
        border-top-color: $themecolor2-2;
    }
}


@media only screen and (max-width: 767px) {
    .component-footer {
        border-top-color: #b7c6d1;
        background: #ffffff;
    }
}

/******************* Tablet devices ****************************/
@media only screen and (min-width: 767px) and (max-width: 1023px) {
    .component-footer {
        border-top-color: #b7c6d1;
        background: #ffffff;
    }
}

/******************* Desktop ****************************/
@media only screen and (min-width: 1024px) {
    .component-footer {
        border-top-color: #b7c6d1;
        background: #ffffff;
    }

}
.comp-assessment {
    color:$themecolor2;
    background-color: $themecolor2-5;
}

@media only screen and (max-width: 769px) {
    .comp-assessment {
      border-color: $themecolor1-3; /* #869FB1; */
        color: $themecolor1-3; /* #869FB1; */
        -webkit-box-shadow: inset 0px -4px 0px #E2EAEF;
        -moz-box-shadow: inset 0px -4px 0px #E2EAEF;
        box-shadow: inset 0px -4px 0px #E2EAEF;
        background-color: #ffffff;
    }

}

.gradebook-component {
    border-bottom-color: #b7c6d1;
}

.gradebook-component-roster {
    border-top-color: #b7c6d1;
}

.vertical-slider {
    background: $themecolor1-5;
    color: $themecolor1-2;
}
.gradesRemaining {
    color:#333333;
    border-top-color: #E0D397;
    background:#fff99c;
}

.up {
    color: $themecolor2;
    background-color: $themecolor2-5;
}

.down {
    transform: rotate(-90deg);
    background-color: $themecolor2-5;
    color: $themecolor2;
}



@media only screen and (max-width: 769px) {
    .gradebook-component-roster {
        border-top-color: #b7c6d1;
    }
}

@media only screen and (max-width: 769px) {
    .component-footer {
        border-top-color: #b7c6d1;
        background: #ffffff;
    }
}

/******************* Tablet devices ****************************/
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .component-footer {
        border-top-color: #b7c6d1;
        background: #ffffff;
    }
}

/******************* Desktop ****************************/
@media only screen and (min-width: 1024px) {
    .component-footer {
        border-top-color: #b7c6d1;
        background: #ffffff;
    }
}

/** timeout.css */
.dialog a:visited {
    color: $themecolor1-2; /*#176A94*/
}

.header {
    background-image: none;
    background-color: $themecolor1;
}

.header .institutionalBranding {
    background-image: url("$themelogo");
}

/*
.header .home {
    background: url("../images/btn-header-sprite.png") no-repeat scroll 0 -29px transparent;
}

.header .menuArrow {
    background: url("../images/header-composite-button-sprites.png") no-repeat scroll right 0 transparent;
}

.header .fauxBar {
    background: url("../images/header-button-sprites.png") repeat-x scroll 0 -24px transparent;
}

.header .fauxBarEndCap {
    background: url("../images/header-button-sprites.png") no-repeat scroll right 0 transparent;
}
*/

.footer {
    background-image: none;
    background-color: $themecolor1;
}

/*
.footer .logo {
    background: url("../images/footer-logo-wht.png") no-repeat scroll center center transparent;
}
*/

/** Page Builder */
.admin-menu-section-main {
    border-color: $themecolor1-2; /*#9AC0D2*/
}
.admin-menu {
    color: $themecolor1-3; /*#206E9F;*/
}

.admin-menu-section-sub>div:first-of-type {
    border-right-color: $themecolor1-2; /*#9AC0D2*/
}

.admin-menu-section-sub {
    border-color: $themecolor1-2; /*#9AC0D2*/
}
.app-list-container {
    border: 1px solid $themecolor1-2;
}


.admin-menu-section-main {
    border-color: $themecolor1-2; /*#9AC0D2*/
}

@media (max-width: 991px) {
  .admin-menu-section-sub>div:first-of-type {
    border-bottom-color: $themecolor1-2; /*#9AC0D2*/
  }
}

    border-bottom-color: $themecolor1-2; /*#9AC0D2*/
    border-right-color: $themecolor1-2; /*#9AC0D2*/
    border-left-color: $themecolor1-2; /*#9AC0D2*/
}

@media (min-width: 992px) {
  .admin-menu-section-sub>div:first-of-type {
      border-right-color: $themecolor1-2; /*#9AC0D2*/
  }
}

.app-list-container>div {
    border-top-color: $themecolor1-2; /*#9AC0D2*/
}

/** FGE */
@media only screen and (min-width: 1025px) {
    td:focus, a:focus, th:focus, select:focus, input:focus, button:focus {
        outline-color: $themecolor3-4 !important; /*#9ecaed*/
    }

    .select2-container-active .select2-choice,
    .select2-container-active .select2-choices {
        border-color: $themecolor3-4 !important; /*#9ecaed */
    }
}

#title-panel {
    background: $themecolor1-5;
    border-color: $themecolor1-5;
}
#title-panel h1 {
    color: $themecolor1-2;
}

a.breadcrumbButton:link, a.breadcrumbButton:active,
a.breadcrumbButton:visited, .breadcrumbButton {
    color: #206E9F;
}
#content {
    background: #eff4f8;
}
.component {
    border-color: #b7c6d1;
    background: #fff;
}

.app-header {
    border-bottom-color: #b7c6d1;
}

@media only screen and (max-width: 769px) {
    .component {
        border-top-color: #b7c6d1;
    }
}

/*********************** Side-panel ******************************/

.side-panel {
    border-color: #b7c6d1;
    background: #fff;
    background-image: none;
}

.side-panel-header {
    border-bottom-color: #BECCD7;
}

.side-panel .panelContent {
}


/**************************************component-content ***************************/

@media only screen and (min-width: 769px) and (max-width: 1025px) {
    .component-footer {
        border-top-color: #b7c6d1;
        background: #fff;
    }
}
/************************************ component footer *****************************/
.component-footer {
    border-top-color: #b7c6d1;
    background: #fff;
}

.component .component-footer {
    border-top-color: #b7c6d1;
    background: #fff;
}

@media only screen and (min-width: 769px) and (max-width: 1025px) {
    .component-footer {
        border-top-color: #b7c6d1;
        background: #fff;
    }
}
/************************************ component-top **********************************/

.component-top {
    border-color: #b7c6d1;
    background: #fff;
}


@media only screen and (max-width: 769px) {
    .component-top {
        border-top-color: #b7c6d1;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .component-top {
        border-color: #b7c6d1;
        background: #fff;
    }


}

/************************************ component-bottom **********************************/

.component-bottom {
    border-color: #b7c6d1;
    background: #fff;
}

@media only screen and (max-width: 769px) {
    .component-bottom {
        border: none;
        border-top-color: #b7c6d1;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .component-bottom {
        border-color: #b7c6d1;
        background: #fff;
    }
}

/************************************** vertical slider **********************************/
.up {
    color: #4F585F;
    background:#eff4f8 url('../../images/up-arrow.png') no-repeat;
}

.middle {
    color: #557287;
    background:#eff4f8 url('../../images/dot.png') no-repeat;
}

.down {
    color: #4F585F;
    background: url('../../images/grid-down-arrow.png') no-repeat;
}

.border {
    border-color: #ccc;
}

.button {
    border-color: #BECCD7;
    background-color: #206E9F;
    color: #FFF;
    -webkit-box-shadow: inset -0px -4px #225A85;
    -moz-box-shadow: inset -0px -4px #225A85;
    box-shadow: inset -0px -4px #225A85;
}

.button-disabled {
    border-color: #BECCD7;
    background-color: #F9FAFB;
    color:#869FB1;
    -webkit-box-shadow: inset 0px -4px 0px #E2EAEF;
    -moz-box-shadow: inset 0px -4px 0px #E2EAEF;
    box-shadow: inset 0px -4px 0px #E2EAEF;
}

.comp-assessment {
    color:#4F585F;
    background: #fff url('../../images/down-arrow.png') no-repeat right 50%;
}

@media only screen and (max-width: 769px) {
    .comp-assessment {
        border-color: #869FB1;
        color: #869FB1;
        -webkit-box-shadow: inset 0px -4px 0px #E2EAEF;
        -moz-box-shadow: inset 0px -4px 0px #E2EAEF;
        box-shadow: inset 0px -4px 0px #E2EAEF;
    }
}
@media only screen and (max-width: 760px) {
    .actions {
        border-top-color: lightgray;
        border-bottom-color: lightgray;
    }
}

/********************** Ipad mini ********************************/
@media only screen and (max-width: 770px) and (min-width: 768px) {
    .component-footer {
        border-top-color: #b7c6d1;
        background: #fff;
    }
}

.rolled {
    background: url('../../images/registration_rolled_yes.png') no-repeat;
}

.not-rolled {
    background: url('../../images/not-rolled.svg') no-repeat;
}


.course-select-assessment {
    color: #83898E;
}


.select2-container .select2-choice {
    color: #444;
    background-color: transparent;
    background-image: none !important;
}

.select2-default {
    color: #4F585F !important;
}

.select2-container .select2-choice .select2-arrow {
    background-image: none !important;
}

.select2-container .select2-choice .select2-arrow b {
    background: #fff url('../../images/down-arrow.png') no-repeat 95% 50% !important;
}

/************************************ Accessibility *********************************/

@media only screen and (min-width: 1025px) {
    td:focus, a:focus, th:focus, select:focus, input:focus, button:focus {
        outline-color: #9ecaed !important;
    }

    .select2-container-active .select2-choice,
    .select2-container-active .select2-choices {
        border-color: #9ecaed !important;
        outline: none;

        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
        box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    }
}

/************************************* Composite grades ******************************/


/*****************************************************************************************
                Load Spinner
******************************************************************************************/
.overlay-show {
    background-color: rgba(1, 1, 1, 0.7);
}

@media only screen and (max-width: 769px) {
    .calendar-img {
        background: none;
    }
}
