.placeholder-theme-name {
  content:  $themename;
}

/*** Transparent background ***/
body {
  background-color: #ffffff;
}

/*** Branding Logo ***/
.institutionalBranding {
  background-image: url("$themelogo");
  width: 20em;
}

.splashBg .ellucianName {
  background-image: url("$themelogo");
}

/*** Favicon ***/
.favicon {
  background-image: url("$themefavicon");
  width: 20em;
}

/*** Global focus ***/
:focus {
  outline-color: $themecolor2-4 /*#81C8FF*/;
}

/*** Header ***/
#banner-header-main-section,
#header-main-section {
    background-color: $themecolor1; /* use selected color */
    color: $themecolor1_text;
    border-bottom-color: $themecolor2;
}

#header-main-section-east-part {
  background-color: $themecolor1-active; /*missed in EDS phase 1*/
}

/*** Tweaks to base UI */
#header-main-section-east-part #username,
#header-main-section-east-part #mepDiv {
  padding-right:0.5em; /* space before and after name and mepDiv */
  padding-left:0.5em;
}

#header-main-section-east-part #mepDiv,
#header-main-section-east-part #signInButton,
#header-main-section-east-part #userDiv,
#header-main-section-east-part #toolsButton {
  border-left: 0px; /* Removed 1px unneeded line  */
  border-right: 0px;
}

/** Page Builder */
.admin-menu-section-main {
    border-color: $themecolor1-2; /*#9AC0D2*/
}
.admin-menu {
    color: $themecolor1-3; /*#206E9F;*/
}

.admin-menu-section-sub>div:first-of-type {
    border-right-color: $themecolor1-2; /*#9AC0D2*/
    border-left-color: $themecolor1-2; /*#9AC0D2*/
}

.admin-menu-section-sub {
    border-color: $themecolor1-2; /*#9AC0D2*/
}
.app-list-container {
    border: 1px solid $themecolor1-2;
}


.admin-menu-section-main {
    border-color: $themecolor1-2; /*#9AC0D2*/
}

@media (max-width: 991px) {
  .admin-menu-section-sub>div:first-of-type {
    border-bottom-color: $themecolor1-2; /*#9AC0D2*/
  }
}

.app-list-container>div {
    border-top-color: $themecolor1-2; /*#9AC0D2*/
}

/* Hide button bar in header of old-style pages */
.buttonBar {
  visibility: hidden;
}

/* Login page style overrides */
.ie-warning DIV {
  color: #ffffff;
}

.login-primary {
  background-color: $themecolor1;
}

.login-primary:focus:not([disabled]) {
  border: 2px solid $themecolor2;
}

.login-primary:hover:not([disabled]) {
  background-color: $themecolor3-hover;
}

.splashBg .forgotpassword {
  color: $themecolor2;
}

.splashBg .appName {
  color: $themecolor2;
}

.pageBg {
     background-color: $themecolor1-4; /*background-image*/
     background-image: none;
}

.signin-button {
  background-color: $themecolor3;
  border-color: $themecolor2;
}

.signin-button:focus:not([disabled])  {
  border-color: $themecolor2;
}

.signin-button:active:not([disabled])  {
  background-color: $themecolor3-active;
}

.signin-button:focus:not([disabled])  {
  border-color: $themecolor2;
}

.signin-button:hover:not([disabled]) {
  background-color: $themecolor3-hover;
  border: none;
}

.xe-modal-mask {
  background-color: rgba(0, 0, 0, 0.3);
}
.xe-popup-mask {
  background-color: rgba(0, 0, 0, 0.3);
}
