.placeholder-theme-name {
  content:  $themename;
}

/*** Branding Logo ***/
.institutionalBranding {
  background-image: url("$themelogo");
  width: 20em;
}

#banner-header-main-section,
#header-main-section {
    background-color: $themecolor1; /* use selected color */
    color: $themecolor1_text;
}

.notification-center-anchor {
  background-color: $themecolor2;
}

.notification-center-count {
  color: $themecolor2_text;
}

:focus {
  outline-color: $themecolor3-4;
}

/*** Tweaks to base UI */
#header-main-section-east-part #username,
#header-main-section-east-part #mepDiv {
  padding-right:0.5em; /* space before and after name and mepDiv */
  padding-left:0.5em;
}

#header-main-section-east-part #mepDiv,
#header-main-section-east-part #signInButton,
#header-main-section-east-part #userDiv,
#header-main-section-east-part #toolsButton {
  border-left: 0px; /* Removed 1px unneeded line  */
  border-right: 0px;
}

#toolsList .canvas-item:hover,
#toolsList .canvas-item:focus {
  background-color: $themecolor3-5 ;
}

/** Page Builder */
.admin-menu-section-main {
    border-color: $themecolor1-2; /*#9AC0D2*/
}
.admin-menu {
    color: $themecolor1-3; /*#206E9F;*/
}

.admin-menu-section-sub>div:first-of-type {
    border-right-color: $themecolor1-2; /*#9AC0D2*/
    border-left-color: $themecolor1-2; /*#9AC0D2*/
}

.admin-menu-section-sub {
    border-color: $themecolor1-2; /*#9AC0D2*/
}
.app-list-container {
    border: 1px solid $themecolor1-2;
}


.admin-menu-section-main {
    border-color: $themecolor1-2; /*#9AC0D2*/
}

@media (max-width: 991px) {
  .admin-menu-section-sub>div:first-of-type {
    border-bottom-color: $themecolor1-2; /*#9AC0D2*/
  }
}

.app-list-container>div {
    border-top-color: $themecolor1-2; /*#9AC0D2*/
}

#toolsList .canvas-item:hover,
#toolsList .canvas-item:focus {
  background-color: $themecolor3-5 ;
}

/* Hide button bar in header of old-style pages */
.buttonBar {
  visibility: hidden;
}

/* Login page style overrides */
.ie-warning DIV {
  color: #ffffff;
}

.pageBg {
     background-color: $themecolor1-4; /*#4c8db5;*/
     background-image: linear-gradient( $themecolor1-1 /*#015d96*/, $themecolor1-4 /*#4c8db5*/ );
}

.splashBg {
  background-color: $themecolor1-3 /*#4e8bbb*/; /* center section background */
  border-color: $themecolor1-1 /*#00579a*/;
}

.splashBg:before {
  background-color: $themecolor1-3 /*#70a4c4*/;
  background-image: linear-gradient( to right, $themecolor1-4 /*#70a4c4*/, $themecolor1-2 /*#337dab*/ );
  border-image: linear-gradient( to right, $themecolor1-2 /*#4287b1*/, $themecolor1-1 /*#005c96*/ ) 1;
}

.splashBg .copyright {
  background-image: linear-gradient( to right, $themecolor1-3 /*#3f85b0*/, $themecolor1-1 /*#0d649b*/ );
  border-image: linear-gradient( to right, $themecolor1-2 /*#367fac*/, $themecolor1-1 /*#005c96*/ ) 1;
}

.signin-button {
  background: $themecolor2-3;
  background-image:linear-gradient($themecolor2-3, $themecolor2-2);
  border-color: $themecolor2-1;
}

.signin-button:hover {
  background: $themecolor2-4;
  background-image:linear-gradient($themecolor2-4, $themecolor2-3);
}

.signin-button:active {
  background: $themecolor2-2;
  background-image:linear-gradient($themecolor2-2, $themecolor2-3);
}
