.paging-container {
    float: left;
    margin-right: 5px;
    height: 2.5em;
    line-height: 2.5em;
    min-height: 2.5em;
}

.paging-control {
    background: url('../images/pagination-sprite.png');
}

.paging-container .paging-text {
}

.paging-container .paging-control.enabled {
    cursor: pointer;
}

/* LTR ( default ) versions of the icons */
.paging-control.first.enabled    { background-position: 0 0;      width: 22px; height: 23px; }
.paging-control.last.enabled     { background-position: 0 -112px; width: 22px; height: 23px; }
.paging-control.next.enabled     { background-position: 0 -224px; width: 22px; height: 23px; }
.paging-control.previous.enabled { background-position: 0 -336px; width: 22px; height: 23px; }

.paging-control.first    { background-position: 0 -28px;  width: 22px; height: 23px; }
.paging-control.last     { background-position: 0 -140px; width: 22px; height: 23px; }
.paging-control.next     { background-position: 0 -252px; width: 22px; height: 23px; }
.paging-control.previous { background-position: 0 -364px; width: 22px; height: 23px; }

.paging-control.first.enabled:hover    { background-position: 0 -84px;  width: 22px; height: 23px; }
.paging-control.last.enabled:hover     { background-position: 0 -196px; width: 22px; height: 23px; }
.paging-control.next.enabled:hover     { background-position: 0 -308px; width: 22px; height: 23px; }
.paging-control.previous.enabled:hover { background-position: 0 -420px; width: 22px; height: 23px; }

.paging-control.enabled.mousedown { background-position: 0 -56px;  width: 22px; height: 23px; }
.paging-control.enabled.mousedown  { background-position: 0 -168px; width: 22px; height: 23px; }
.paging-control.enabled.mousedown  { background-position: 0 -280px; width: 22px; height: 23px; }
.paging-control.enabled.mousedown  { background-position: 0 -392px; width: 22px; height: 23px; }

/* RTL versions of the icons */
.paging-control.first.rtl.enabled    { background-position: 0 -112px; width: 22px; height: 23px; }
.paging-control.last.rtl.enabled     { background-position: 0 0;      width: 22px; height: 23px; }
.paging-control.next.rtl.enabled     { background-position: 0 -336px; width: 22px; height: 23px; }
.paging-control.previous.rtl.enabled { background-position: 0 -224px; width: 22px; height: 23px; }

.paging-control.first.rtl    { background-position: 0 -140px; width: 22px; height: 23px; }
.paging-control.last.rtl     { background-position: 0 -28px;  width: 22px; height: 23px; }
.paging-control.next.rtl     { background-position: 0 -364px; width: 22px; height: 23px; }
.paging-control.previous.rtl { background-position: 0 -252px; width: 22px; height: 23px; }

.paging-control.first.rtl.enabled:hover    { background-position: 0 -196px; width: 22px; height: 23px; }
.paging-control.last.rtl.enabled:hover     { background-position: 0 -84px;  width: 22px; height: 23px; }
.paging-control.next.rtl.enabled:hover     { background-position: 0 -420px; width: 22px; height: 23px; }
.paging-control.previous.rtl.enabled:hover { background-position: 0 -308px; width: 22px; height: 23px; }

/*.paging-control.enabled.mousedown { background-position: 0 -56px;  width: 22px; height: 23px; }
.paging-control.enabled.mousedown  { background-position: 0 -168px; width: 22px; height: 23px; }
.paging-control.enabled.mousedown  { background-position: 0 -280px; width: 22px; height: 23px; }
.paging-control.enabled.mousedown  { background-position: 0 -392px; width: 22px; height: 23px; }*/

.records-info {
    float: right;
}

.selected-cell {
  background: #CCCCCC;
}


.paging-container button,
.paging-container div,
.paging-container span,
.paging-container input {
    float: left;
}

.paging-container button,
.paging-container button:hover {
    border:0;
    border-style:none;
}

.paging-container {
    display: inline-block;
}

.paging-container .paging-control {
    margin-top: 5px;
}

.paging-container .paging-text {
    cursor: default;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 1.5em;
    font-size: 1em;
}

.paging-container .divider {
    border-left: 1px solid #000000;
    float: left;
    height: 17px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
    width: 1px;
}

.paging-container .page-number {
    margin-top: 5px;
    width: 15px;
}

.paging-container .page-size-select {
    margin-left: 5px;
}

.paging-container .page-size-select-wrapper {
    margin-top: 2px;
}
