.grid {
    margin: 0 auto;
    width: 100%;
    float: left;
    clear: none;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0;
}

.grid-container .bottom {
    padding: 0 15px 15px;
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    clear: both;
}

.grid-frozen-wrapper {
  clear: both;
  float: left;
  position: relative;
  box-shadow: 3px 0 5px #E4E4E4;
}

.grid-main-wrapper {
  clear: none;
  float: left;
}

.grid-scroll-x {
  overflow-x: scroll;
}

.grid thead th {
    background-color: #EDF0F4 !important;
    border-bottom: 2px solid #AAAAAA;
    cursor: pointer;
    padding: 3px 0 3px 10px;
    height: 25px;
    line-height: 25px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.grid th.sort-disabled {
  cursor: default;
}

.grid thead th .title {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.grid tr {
    height: 30px;
}

.grid tr.odd {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    border-color: #DDDDDD;
}
.grid tr.even {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    border-color: #DDDDDD;
}

.grid tr.selected {
  background: #DDDDDD !important;
}

.grid tr.hover {
    background-color: #B2CEDF;
}

.grid td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    padding: 0px 10px;
    border-left: 1px solid #DDDDDD;
    min-height: 30px;
}

.grid td.focus {
  /*background: #e4e4e4;*/
}

.grid tbody tr td form input {
    vertical-align: top;
    /*margin-top: 2px;*/
    width: 98% !important;
    padding-left: 5px;
    height: 20px;
    border: 1px solid #778FA0;
}

.grid-container {
  position: relative;
}



.sort-icon {
    float: right;
    margin-top: 4px;
}

.sort-handle {
    float: right;
    height: 100%;
    width: 5px;
    cursor: w-resize;
}

/*
 *
 * Visibility Menu
 *
 */

.grid-button-menu-icon {
  background: url('../images/datatables-colvis-button.png') no-repeat;
  height: 20px;
  width: 15px;
}

.column-visibility-menu {
  position: absolute;
  left: auto;
  z-index: 1101;
  border-left: 1px solid #DDDDDD;
  background: url('../images/grid_customize.png') no-repeat center center;
  width: 30px;
  height: 30px;
}

.grid-without-title th:last-child {
    padding-right: 30px;
}

.button-menu-container {
  position: absolute;
  z-index: 1101;
  display: inline-block;
  background: none repeat scroll 0 0 white;
  padding: 10px;
  margin-top: 4px;
  border: 1px solid #DDDDDD;
  border-top: 1px solid #CCCCCC;
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.3);
}

.button-menu-container ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button-menu-container ul li {
    padding: 4px 0;
}

.button-menu-container ul li input {
    height:auto;
}

.button-menu-overlay {
  opacity: 0.0;
  filter:alpha(opacity=0);
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #000000;
  width: 100%;
  z-index: 1100;
}

/* notification/datatables integration classes */

.grid tr td:first-child {
    padding-left: 30px;
}

.grid.grid-frozen tr td:first-child {
    padding-left: 10px;
}

.grid.grid-frozen tr {
    border-right: 1px solid #DDDDDD;
}

.grid tr.notification-error td:first-child {
    background:url("../images/icon-error-16x16-plus7.png") no-repeat left center
}

.grid tr.notification-success td:first-child {
    background:url("../images/icon-success-16x16-plus7.png") no-repeat left center
}

.grid tr.notification-warning td:first-child {
    background:url("../images/icon-warning-16x16-plus7.png") no-repeat left center
}

.grid tr.notification-success {
    background-color: #DDF4C9;
}

.grid tr.notification-error {
    background-color: #EBCFCF;
}

.grid tr.notification-error {
    background-color: #EBCFCF;
}

.grid tr.notification-warning {
    background-color: #FFF6B3;
}

.grid tr.notification-warning {
    border: 1px solid #f9dc87;
    background-color: #FFF6B3;
}

/* editable component specific integration classes */

.grid .hasMultiCalendarPicker {
    border: 1px solid #778FA0;
    border-radius: 0 3px 3px 0;
    height: 20px !important;
    margin: 0 -22px 0 0 !important;
    padding: 0 0 0 0 !important;
}
