.notification-center-flyout li div.notification-item-message {
    background-position: 369px 4px !important;
}

.notification-center-flyout li:first-child div.notification-item-message {
    background-position: 369px 8px !important;
}

.ui-button {
    margin-right: 0;
}

.ui-icon-circle-triangle-e {
    background-position: -80px -192px;
}

.ui-icon-circle-triangle-w {
    background-position: -48px -192px;
}

.ui-layout-toggler-west-open  {
    background:url('../images/ui-layout-divider-arrow-w.png') no-repeat scroll center center !important;
}

.ui-layout-toggler-west-closed  {
    background:url('../images/ui-layout-divider-arrow-e.png') no-repeat scroll center center !important;
}