/*********************************************************************************
 Copyright 2018 Ellucian Company L.P. and its affiliates.
 **********************************************************************************/
.button-area {
    font-size: 16px;
}
.eds-text-field {
    width: 18.75em;
    border-radius: 4px;
    border: 1px solid #B2B3B7;
    padding: 1em 0.75em !important;
    box-sizing: border-box;
    webkit-box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: OpenSans-semibold !important;
    font-size: 0.875em !important;
    text-align: left;
}

.eds-text-field:focus:not([valid]) {
    border: 1px solid #026BC8;
    color: #151618;
    outline: none;
    font-family: OpenSans-semibold !important;
}

 .eds-text-field-readonly {
    background-color: #F7F7F7;
    border: 1px solid #151618;
    color: #5B5E65;
    opacity: 100%;
}

.eds-text-field-disabled {
    border: 1px solid #151618;
    color: #5B5E65;
    background-color: #F7F7F7;
}

/* Button Styles Prisma */

.primary:hover:not([disabled]) {
    background-color: #065AA5;
    border: none;
}

.primary:focus:not([disabled]) {
    border: 2px solid #81C8FF;
    -ms-user-select: none;
    outline: none;
}

.primary {
    background-color: #026BC8;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 0.5em 1.5em;
    border: none;
    font-family: Open Sans !important;
}

.secondary {
    background-color: #FFFFFF;
    border: 1px solid #026BC8;
    color: #026BC8;
    border-radius: 4px;
    padding: 0.5em 1.5em;;
    font-family: Open Sans !important;
}

.primary:hover:not([disabled]) {
    background-color: #065AA5;
}

.secondary:hover:not([disabled]) {
    background-color: #065AA5;
    color: #FFFFFF;
}

.secondary:focus:not([disabled]) {
    border: 1px solid #81C8FF;
    -ms-user-select: none;
    background-color: #026BC8;
    color: #FFFFFF;
    outline: none;
}

.primary:disabled {
    background-color: #B2B3B7;
    color: #FFFFFF;
    border: none;
}

.secondary:disabled {
    background-color: #B2B3B7;
    color: #FFFFFF;
    border: none;
}

.primary:active:not([disabled]) {
    background-color: #0A4982;
    border: none;
}

.secondary:active:not([disabled]) {
    background-color: #0A4982;
    border: none;
}

