.listFilterHeader{
    background-color: #B5C9D6;
    height: 2em;
    padding: 0.5em;
    display: block;
}

.listFilterHelpHeader{
    display: none;
}


.listFilterHeader-results{
    display: inline-block;
    font-weight: bold;
    width: 15em;
    font-size: 1.2em;
    background-color: #B5C9D6;
}

.listFilterHeader-fields-hidden{
    display: none;
}

.listFilterHeader-clear-hidden{
    display: none;
}

.listFilterHeader-fields-shown{
    display: inline-block;
}

.listFilterHeader-clear-shown{
    display: inline-block;
    float: right;
    padding-right: 1em;
}

.listFilterHeader-fields-button{
    background-color: #B5C9D6;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    color: darkblue;
    margin-right: 1em;
}


.listFilterHeader-remove-filter-button {
    background-color: darkgray;
    color: #ffffff;
    height: 2em;
    font-size: 1.2em;
}

.listFilterItem-row{
    background-color: #B5C9D6;
    display: block;
    padding: 0.5em;
    height: 2.5em;
    border-left: 0px;
    border-right: 0px;
    border-top: 2px;
    border-bottom: 0px;
    border-style: inset;
}

.listFilterItem-container{
    background-color: #9EB0BD;
    display: block;
    width: 100%;
}

.listFilterItem {
    display: inline-block;
    width: 25%;
    padding-left: 1em;
}

.listFilterItem-control {
    display: inline-block;
    width: 85%;
    padding-left: 0.5em;
}

.listFilterItem-deleteImage{
    float: right;
    padding: 0.5em;

}

.listFilterFooter{
    padding: 0.5em;
    height: 2.5em;
    background-color: #B5C9D6;
    border-left: 0px;
    border-right: 0px;
    border-top: 2px;
    border-bottom: 0px;
    border-style: inset;
}

.listFilterFooter-message{
    padding: 0.5em;
    font-weight: bold;
    background-color: #B5C9D6;
}

.listFilterFooter-buttons{
    float: right
}

