#student-picture {
    background-color: #FFFFFF;
    border-color: #666666;
    border-style: solid;
    border-width: 2px;
    float: right;
    padding: 10px 10px 5px;
    vertical-align: bottom;
}

#facultySection-final tbody tr td form {
    margin: 0;
}

#grades tbody tr td form {
    margin: 0;
}

#facultySection-midTerm_wrapper {
    min-height: 100px;
    margin-bottom: 20px;
}

#facultySection-midTerm_wrapper .ui-toolbar {
    display: none;
}

#facultySection-final_wrapper {
    min-height: 100px;
    margin-bottom: 20px;
}

#facultySection-final_wrapper .ui-toolbar {
    display: none;
}

#gradesSection {
    float: left;
    clear: both;
}

#grades_first, #grades_last {
    display: none;
}

#grades_wrapper .ui-corner-tl {
    display: none;
}

.dataTables_paginate {
    float: left;
    text-align: left;
}

.notvisible {
    visibility: hidden;
    display: none;
}

#grades-row-highlight-col {
    width: 30px;
}

#grades-version-col {
    width: 50px;
}

#grades-lastName-col {
    width: 100px;
}

#grades-firstName-col {
    width: 100px;
}

#grades-id-col {
    width: 70px;
}

#grades-course-col {
    width: 300px;
}

#grades-term-col {
    width: 100px;
}

#grades-midTermGrade-col {
    width: 100px;
}

#grades-finalGrade-col {
    width: 100px;
}

#grades td select {
    width: 100%;
    height: 100%;
    border: 0px;
}

html, body {
    width: 100%;
    margin: 0px;
}

.export-wizard {
    width: 300px;
}

.export-wizard-type-list {
    list-style-type: none;
    padding-left: 0px;
}

.import-wizard {
    width: 100%;
    height: 100%;
}

.import-wizard-content {
    max-width: 750px;
    max-height: 350px;
    float: left;
    clear: both;
    overflow: auto;
    margin-top: 10px
}

.import-wizard-directions, .import-wizard-legend {
    float: left;
    clear: both;
    margin-top: 10px
}

.import-wizard-legend-item {
    float: left;
    clear: none;
    margin-right: 20px;
}

.import-wizard-buttons {
    float: right;
    clear: both;
    margin-top: 10px;
}

.file-upload {
    display: inline;
}

.import-form {
    display: none;
}

.footer {
    margin-top: 10px;
    margin-right: 5px;
    min-height: 45px;
}

.ui-tabs, .ui-tabs .ui-tabs-panel {
    padding:  0;
}

/* TODO: REMOVE THIS RULE AND MOVE IT INTO THE MAIN CSS CONFIG */
.ui-corner-all { -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }

.ui-layout-pane { padding:  0px !important; }


#facultySection-midTerm-status-col, #facultySection-final-status-col {
    width: 50px;
}

#facultySection-final-rolled-col {
    width: 50px;
}

#facultySection-midTerm-section-col, #facultySection-final-section-col {
    width: 50px;
}

#facultySection-midTerm-subject-col, #facultySection-final-subject-col {
    width: 200px;
}

#facultySection-midTerm-term-col, #facultySection-final-term-col {
    width: 150px;
}

#facultySection-midTerm-title-col, #facultySection-final-title-col {
    width: 200px;
}

.facultySection-completed {
    background: url('../../../images/fully_rolled.png') no-repeat;
    height: 7px;
    width: 100%;
    background-position: center;
}

.facultySection-in-progress {
    background: url('../../../images/partial_roll.png') no-repeat;
    height: 7px;
    width: 100%;
    background-position: center;
}

.facultySection-not-started {
    background: url('../../../images/not_rolled.png') no-repeat;
    height: 7px;
    width: 100%;
    background-position: center;
}

#courseDetails {
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
}

#courseDetails > div {
    background-color:#888;
    padding:.5em;
}

#courseDetails > div > div {
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:1em;
    background-color:#fff;
}

#courseDetails > ul {
    background:transparent;
    background-image:none;
    border:none;
}

#tabs-courseDetails-sectionDetail {
    padding:0;
}

#sectionDetail #sectionDetailTabs {
    padding: 5px 20px 5px 20px;
    /*font-size:125%;*/
    background-color:#404040;
    color:#fff;
}

#sectionDetail #sectionDetailTabs ul {
    margin:0;
    padding:0;
    list-style-type: none;
}

#sectionDetail .sectionTitle {
    padding-bottom: .5em;
    border-bottom: 5px solid #888;
    font-weight: bold;
}

#sectionDetail .courseInfo {
    color:#404040;
    font-weight: bold;
}

#sectionDetail .courseInfo {
    margin:5px 0 5px 0;
    padding-bottom: 5px;
    font-size:100%;
}

#sectionDetail  #gradeSummary > ul,
#sectionDetail  #sectionInfo > ul {
    margin:.5em 0 0 0;
}

#sectionDetail .gradeSummary {
    background-color:#f4f4f4;
    color: #6b6766;
    padding: 1em;
}

#sectionDetail #gradeSummary ul li {
    color: #6b6766;
}

#sectionDetail .notifybox  {
    padding:.5em .5em .5em .5em;
    border: 2px solid #f9dc87;
    background-color: #fcf8d9;
    color: #ae9c6c;
    font-size: 125%;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#sectionDetail .notifybox img.warnicon {
    width:1.2em;
    height:1.2em;
    vertical-align:bottom;
    margin-right:.5em;
}

#sectionDetail .fieldlist {
    margin-top:.5em;
    color:#404040;
}

#sectionDetail .fieldlist label {
    font-weight:bold;
}

#sectionDetail .fieldlist label:after {
    content:': ';
}

.registration-rolled-yes {
    background: url('../../../images/registraion_rolled_yes.png') no-repeat;
    height: 17px;
    width: 100%;
    background-position: center;
}

.registration-rolled-no {
    background: url('../../../images/registraion_rolled_no.png') no-repeat;
    height: 17px;
    width: 100%;
    background-position: center;
}

/* datatables column data truncation */
#grades {
    table-layout: fixed;
}

#grades tr td {
    overflow: hidden;
    text-overflow: ellipsis; 
}

.development {
    display: none;
    visibility: hidden;
}

.fui-lazy-load {
    display: none;
    visibility: hidden;
}

.display {
    font-size: 1.0em;
}

div#gradesSection.ui-widget div#grades_wrapper.dataTables_wrapper div.fg-toolbar {
    visibility: hidden;
    display: none;
}