body {
    background: #f8f8f8;
    font: 10px Arial,Helvetica,sans-serif;
}

.display {

}

.ui-tabs .ui-tabs-nav li a {
    padding: 0 1em;
}

.ui-widget-header {
    min-height: 2.5em;
    line-height: 2.5em;
    padding-left: .75em;
}

.ui-input-text {
    padding: 0.46em 0.5em;
    margin-right: 0.1em;
}


.ui-corner-all.ui-button.ui-widget {
    border: none;
    background-color: rgb(88, 88, 88);
    background-image: url( '../images/prim-secndry-buttons-sprite.png' ), url( '../images/prim-secndry-buttons-sprite.png' ), url( '../images/prim-secndry-buttons-sprite.png' );
    background-position: left 0px, right -58px, 0 -29px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    height: 24px;
    color: #FFFFFF;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 10px;
}

.ui-button:hover {
    background-position: left -87px, right -145px, 0 -116px;
}

.ui-button:disabled {
    background-position: left -174px, right -232px, 0 -203px;
}

.ui-widget-content {
    border-style: none;
}

div.ui-widget div.ui-widget-header {
    border-style: none;
    border: 0;
}

.ui-widget-header {
    line-height: 35px;
    min-height: 35px;
    padding-left: 0.75em;
}

div.inner-center div.ui-widget div.ui-widget-header {
    background-image: url( '../images/section-hdr-bg.png');
    background-repeat: repeat-x;
    background-color: transparent;
}

div.ui-widget div.ui-widget-content {
    border: none;
}


.inputWrapper {
    float: left;
}


.floatLeft {
    float: left;
}

#courseSelectionContainer {
    float: left;
    clear: both;
    margin-top: 10px;
}

#enableTermSelectControl {
    display: none;
}

table.display tr.even.row_hover td {
	background-color: #D9D9D9;
}

table.display tr.even.row_hover td.sorting_1 {
	/*background-color: #DEDEDE;*/
    background-color: #D9D9D9;
}

table.display tr.odd.row_hover td {
	background-color: #D8D8D8;
}

table.display tr.odd.row_hover td.sorting_1 {
	/*background-color: #C5C5C5;*/
    background-color: #D8D8D8;
}

.cell-save-successful {
    background-color: #FFFFFF !important;
    background-image: url("../images/success_new.png");
    background-origin: content;
    background-position: right center;
    background-repeat: no-repeat;
    border-color: green;
    border-style: solid;
    border-width: 1px;
    padding-right: 5px;
}

.cell-error {
    background-color: #FFFFFF !important;
    background-image: url("../images/error_icon.png");
    background-origin: content;
    background-position: right center;
    background-repeat: no-repeat;
    border-color: red;
    border-style: solid;
    border-width: 1px;
    padding-right: 5px;
}

.page-with-sidebar {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: medium none;
}

div.navigation-flyout {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 10px;
    right: 0px;
    list-style: none;
    z-index:9999;
}

div.navigation-flyout div.navigation-themeswitcher  {
    display: block;
    margin-right: -2px;
    width: 175px;
    height: 70px;
    background-color:#CFCFCF;
    background-repeat:no-repeat;
    background-position:center center;
    border:1px solid #AFAFAF;
    -moz-border-radius:10px 0px 0px 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    -khtml-border-top-left-radius: 10px;
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */
    opacity: 1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}

div.navigation-flyout div.navigation-themeswitcher > div {
    margin-top: 15px;
}

tr.odd td.sorting_1, tr.even td.sorting_1 {

}


.footer {
    float: right;
}

/* UI Layout */

.ui-layout-resizer-west, .ui-layout-resizer-east {
    background: url('../images/ui-layout-resizer-bg.png') repeat scroll 0 0 !important;
}

.ui-layout-toggler-east-open {
    background: url('../images/ui-layout-resizer-handle-east.png') no-repeat scroll center center !important;
}

.ui-layout-toggler-east-closed {
    background: url('../images/ui-layout-resizer-handle-west.png') no-repeat scroll center center !important;
}


.ui-layout-pane-north, .ui-layout-pane-south {
    padding: 0px !important;
}

.aurora-fake-header {
    width: 100%;
}

.aurora-fake-header-left {
    float: left;
    background: url('../images/aurora-fake-header-left.png') no-repeat;
    width: 181px;
    height: 73px;
}

.aurora-fake-header-middle {
    background: url('../images/aurora-fake-header-middle.png') repeat-x;
    height: 73px;
}

.aurora-fake-header-right {
    float: right;
    background: url('../images/aurora-fake-header-right.png') no-repeat;
    width: 490px;
    height: 73px;
}

.aurora-fake-footer {
    width: 100%;
}

.aurora-fake-footer-middle {
    background: url('../images/aurora-fake-footer-middle.png') repeat-x;
    height: 27px;
}

.aurora-fake-footer-right {
    float: right;
    background: url('../images/aurora-fake-footer-right.png') no-repeat;
    width: 392px;
    height: 27px;
}

.ui-widget-section {
    padding: 10px;
}

/* TODO: Remove once Aurora is in place */
#sign-out {
    height: 20px;
    padding-left: 3px;
    padding-right: 5px;
    padding-top: 3px;
    background: url("../images/aurora-fake-header-middle.png") repeat-x scroll 0 -12px transparent;
    cursor: pointer;
    position: absolute;
    right: 257px;
    top: 2px;
}

#sign-out a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1em;
}