.notification-center {
    color: #000000;
    margin-top: -6px;
    padding-left: 5px;
    direction: ltr;
}

.notification-center-hidden {
    visibility: hidden;
    display: none;
}

.notification-center-count {
    float: left;
    text-align: center;
    min-width: 16px;
    min-height: 16px;
    font-size: 1.1em;
    color: #FFFFFF;
    background-color:#DB7F33;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.notification-center-count.notification-center-count-nil {
    display: none;
}

.notification-center-label {
    float: right;
    font-size: 1.1em;
    color: #FFFFFF;
    padding-left: 3px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.notification-center-flyout {
    position: absolute;
    min-width: 400px;
    background-color: #0071A7;
    border-color: #0071A7;
    border-width: 5px;
    border-style: solid;
    font-size: 1.2em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-box-shadow: 3px 3px 3px #888888;
    -webkit-box-shadow: 3px 3px 3px #888888;
    box-shadow: 3px 3px 3px #888888;
}

.notification-center-flyout ul {
    background-color: #FFFFFF;
    margin: 0;
    max-height: 30em;
    border-radius: .2em;
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    overflow: auto;
}

#globalNav li a.notification-center-anchor {
    height: 20px;
    padding-left: 3px;
    padding-right: 5px;
    padding-top: 5px;
    cursor: pointer;
    display: block;
}


.notification-center-anchor.notification-center-anchor-hidden:hover {
    background: #0071A7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.notification-center-anchor.notification-center-anchor-displayed {
    background: #0071A7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-box-shadow: 3px 3px 3px #888888;
    -webkit-box-shadow: 3px 3px 3px #888888;
    box-shadow: 3px 3px 3px #888888;
}

.notification-center-flyout-hidden {
    visibility: hidden;
    display: none;
}

.notification-center-flyout-displayed {
    visibility: visible;
    display: block;
}

.notification-center-message {
    background-color: rgba(235, 207, 207, 0.95);
    border-color: #808080;
    border-style: solid;
    border-width: 1px;
    margin-left: 50px;
}

.notification-center-flyout.notification-center-flyout ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    direction: ltr;
}

.notification-center-flyout li:first-child {
    border-bottom-style: none;
}

.notification-center-flyout li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.notification-center-flyout li.notification-center-message-with-prompts {
    padding-bottom: 0px;
}

.notification-center-flyout li div.notification-item-message {
    background-position: 5px 5px;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 27px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 2.4em;
    border-bottom: 1px solid #CCCCCC;
    text-align: left;
}

.notification-center-flyout li:last-child div.notification-item-message {
    border-bottom-style: none;
}

.notification-center-flyout li:first-child div.notification-item-message {
    background-position: 5px 8px;
    min-height: 2.4em;
    padding-top: 10px;
}

.notification-center-flyout ul li.notification-center-message-error div.notification-item-message {
    background-image: url(../images/icon-error-16x16.png);
}

.notification-center-flyout ul li.notification-center-message-warning.notification-center-message-with-prompts:first-child div.notification-item-message {
    background-color: #FFF6B3;
    border-bottom-style: none;
}

.notification-center-flyout ul li.notification-center-message-warning div.notification-item-message {
    background-image: url(../images/icon-warning-16x16.png);
}

.notification-center-flyout ul li.notification-center-message-information div.notification-item-message {
    background-image: url(../images/icon-info-16x16.png);
}

.notification-center-flyout ul li.notification-center-message-success div.notification-item-message {
    background-color: #DDF4C9;
    background-image: url(../images/icon-success-16x16.png);
    border-bottom-style: none;
}

li span.notification-item-prompt-message {
    visibility: hidden;
    display: none;
}


li:first-child span.notification-item-prompt-message {
    visibility: visible;
    display: inline;
}

li .notification-item-prompts {
    visibility: hidden;
    display: none;
}

li:first-child .notification-item-prompts {
    visibility: visible;
    display: block;
    padding-top: 5px;
    background-color: #EFEFEF;
    padding-bottom: 5px;
    border-top-color: #F2F2F2;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: #CCCCCC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 5px;
    text-align: right;
    vertical-align: middle;
    padding-right: 5px;
}

body > .notification-center-shim {
    background-color: #666;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    opacity:  0.3;
    filter: alpha(opacity = 30);
}

#globalNav li a.notification-message{
    color: #ff0000;
    text-decoration: underline;
    cursor: pointer;
    padding:0;
}
