
.notification-center-anchor.notification-center-count-nil {
    display: none;
}

.notification-center-flyout {
    position: absolute;
    width: 30%;
    min-width: 25em;
    background-color: #0071A7;
    font-size: 1.2em;
    box-shadow: 0 1px 1px #000000;
    z-index: 1000;
    right : 0;
    left : auto;
}

.notification-center-flyout ul {
    background-color: #FFFFFF;
    margin: 0;
    max-height: 30em;
    overflow: auto;
}

#header-main-section li a.notification-center-anchor {
    cursor: pointer;
    display: block;
}

.notification-center-flyout-displayed {
    visibility: visible;
    right:0;
    left:auto;
}

.notification-center-flyout.notification-center-flyout ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    direction: ltr;
}

.notification-center-flyout li:first-child {
    border-bottom-style: none;
}

.notification-center-flyout li.notification-center-message-with-prompts {
    padding-bottom: 0px;
}

.notification-center-flyout li div.notification-item-message {
    min-height: 2.5em;
    text-align: left;
    font-size: 0.85em;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    padding-right: 0.25em;
}

.notification-center-flyout li:first-child div.notification-item-message {
    min-height: 2.5em;
}

.notification-center-flyout ul li div.notification-item-message:before{
    content: '';
    width: 1.75em;
    height: 1.5em;
    padding-right: 0.75em;
    min-width: 1.75em;
}

.notification-center-flyout ul li.notification-center-message-warning.notification-center-message-with-prompts:first-child div.notification-item-message {
    background-color: #FFF6B3;
    border-bottom-style: none;
}

.notification-center-flyout ul li.notification-center-message-success div.notification-item-message:before {
    background: url("images/success.svg") no-repeat center;
}

.notification-center-flyout ul li.notification-center-message-error div.notification-item-message:before{
    background: url("images/error.svg") no-repeat center;
}

.notification-center-flyout ul li.notification-center-message-warning div.notification-item-message:before {
    background: url("images/warning.svg") no-repeat center;
}

.notification-center-flyout ul li.notification-center-message-information div.notification-item-message {
    background-image: url(../images/icon-info-16x16.png);
}

.notification-center-flyout ul li.notification-center-message-success {
    background-color: #DDF4C9;
    border: 1px solid #B0C3A0;
    border-bottom: 2px solid #B0C3A0;
    color: #04661B;
}

.notification-center-flyout ul li.notification-center-message-error{
    background-color: #FAEDED;
    border: 1px solid #E7C2C2;
    border-bottom: 2px solid #EED2D2;
    color: #CD3939;
}

.notification-center-flyout ul li.notification-center-message-warning {
    background-color: #FFF6B3;
    border: 1px solid #F3E58E;
    border-bottom: 2px solid #F3E688;
    color: #8B572A;
    border-width: 1px 0px 0px 0px;
}

li span.notification-item-prompt-message, li .notification-item-prompts, .notification-center-flyout-hidden, .notification-center-hidden {
    visibility: hidden;
    display: none;
}

li:first-child span.notification-item-prompt-message {
    visibility: visible;
    display: inline;
}

.notification-item-prompts button{
    background-color: #908989;
    border-color: #908989;
    color: white;
    height: 1.65em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 2px 7px;
    border: none;
}

li:first-child .notification-item-prompts {
    visibility: visible;
    display: block;
    background-color: #EBEBEB;
    border: 1px solid #C6CBCD;
    text-align: right;
    vertical-align: middle;
    padding-right: 0.25em;
    line-height: 1.65em;
}

body > .notification-center-shim {
    background-color: #666;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    opacity:  0.3;
    filter: alpha(opacity = 30);
}

#header-main-section li a.notification-message{
    color: #ff0000;
    text-decoration: underline;
    cursor: pointer;
}

.notification-center-flyout li{
    border-left: none;
}

/*Mobile device*/

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .notification-center-flyout{
        width: 100%;
        min-width: 250px;
    }

    .notification-center-flyout li div.notification-item-message {
           font-size: 0.75em;
       }

}

/*Tablet device*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .notification-center-flyout li div.notification-item-message {
        font-size: 0.75em;
    }
}
