/*******************************************************************************
 Copyright 2017-2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************/

.xe-popup-container .xe-pop-content {
    font-size: 0.750em;
    color: #4F585F;
    margin-top: 2em;
    position:relative;
    min-height: 75%;
    padding-left:1.5em;
    padding-right:1em;
}

/*.select2-container .select2-choice .select2-arrow b {
    background-image: none ;
}*/

div#buttonContainer.buttonContainer {
    float:left;
    clear:both;
    bottom:0em;
    position:fixed;
    right:0em;
    width:100%;
}

.xe-popup-container xe-button .primary{
    width:100%;
}

/*.ui-select-container .select2-choice {
    background: url("images/ui-select/dropdown_grey.svg") no-repeat 100% !important;
}*/

/*.select2-dropdown-open .select2-choice {
       background: url("images/ui-select/dropdown_blue.svg") no-repeat 100%;
   }*/

@media (max-width: 768px) and (orientation: landscape) {
    .xe-popup-container xe-button .primary{
        width: 100%;
        bottom:auto;
    }

    div#buttonContainer.buttonContainer{
        width:100%;
    }

}

@media screen and (min-width: 768px) {

    .xe-popup-container .xe-pop-content {
        font-size: 1.5em;
        color: #4F585F;
        margin-top: 2em;
        position:relative;
        min-height: 75%;
        padding-left:0em !important;
        padding-right:1em;
    }



    .xe-popup-container .xe-pop-content {
        font-size: 0.875em;
        margin: 2em 0 0;
        position:relative;
        padding-left:0.5em;
    }

    div#buttonContainer.buttonContainer {
        float: right;
        height: 0%;
        bottom: auto;
        width: auto;
        clear: both;
        position: relative;
    }

}

.xe-popup-container xe-button .primary{
    width: 100%;
}


