/*******************************************************************************
 Copyright 2017 Ellucian Company L.P. and its affiliates.
*******************************************************************************/

div#buttonContainer.buttonContainer {
    direction: rtl;
    float: right;
    clear: both;
    bottom: 0em;
    position: fixed;
    left: 0em;
    width: 100%;
}

@media (max-width: 768px) and (orientation: landscape) {
    .xe-popup-container xe-button .primary {
        width: 100%;
        bottom: auto;
    }

    div#buttonContainer.buttonContainer {
        width: 100%;
        left: 0em;
    }

}

@media screen and (min-width: 768px) {

    div#buttonContainer.buttonContainer {
        direction: rtl;
        float: left;
        height: 0%;
        bottom: auto;
        width: auto;
        clear: both;
        position: relative;
    }
}

.xe-popup-container xe-button .primary {
    width: 100%;
}

div.select2-result-label ::after {
    content: "\200E";
}

span.select2-chosen ::after {
    content: "\200E";
}