.component {
    padding: 1em;
}

.catalog-entry {
    border-bottom: 4px #808080 dashed;
}

/*.catalog-entry-sub {
    border-bottom: 2px #add8e6 dashed;
}

.catalog-entry-sub:last-child {
    border-bottom: none;
}*/

/*.catalog-entry > .ui-widget-header {*/
    /*padding:  .5em;*/
/*}*/

/*.catalog-entry > .ui-widget-content {*/
    /*padding: 1em;*/
/*}*/


.catalog-entry-sub {
    border: 2px dashed #d3d3d3;
    margin: 1.5em;
    padding: 0.5em;
}

.ul-container {
    height: 100%;
    width: 100%;
    overflow: auto;
}

ul {
    list-style-type: none;
}

.date-picker-demo,
.auto-complete-demo,
.combobox-demo {
    white-space: nowrap;
    width: 15em;
}

.inner-content {
    overflow: auto;
}

.widget-code.show-code {
    visibility: hidden;
    cursor: pointer;
}

.widget-code.hide-code {
    display: none;
    cursor: pointer;
}

div.code {
    display: none;
    font-size: 1.3em;
}

ul.ui-catalog-navigation-list li {
    font-family: monospace;
    font-size: 1.5em;
    cursor: pointer;
    margin-bottom: 1em;
}

ul.ui-catalog-navigation-list li li {
    font-size: 1em;
}

ul.ui-catalog-navigation-list li:last-child {
    margin-bottom: 0em;
}

ul.ui-catalog-navigation-list > li > span {
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    margin-bottom: 1em;
    margin-top: 2em;
}

ul.ui-catalog-navigation-list > li:first-child > span {
    margin-top: 0px;
}

ul.ui-catalog-navigation-list li span:hover {
    color: #556b2f;
}

ul.ui-catalog-navigation-list li ul {
    padding-left: 0px;
}
