
.shortcut-container-expanded {
    padding-bottom: 0%;
}

.shortcut-container-collapse {
    padding-bottom: 6%;
}

.content-heading-shortcut {
    display: inline-block;
    vertical-align: middle;
    float: left;
    opacity: 1;
    width: 95%;
    color:#4F585F;
    font-size: 14px;
    font-family: OpenSans-Bold;
}

.shortcutAccordion {
    border: solid black;
    border-width: 0 0.35em 0.35em 0;
    display: inline-block;
    padding: 0.35em;
    float: right;
    margin-top: 2%;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.chicklet {
    padding: 0.5em;
    width: 2.5em;
    text-align: center;
    font-size: 0.875em;
    background: aliceblue;
    color: #557287;
    overflow: hidden;
    margin-right: 0.5em;
    margin-left: 0.5em;
    vertical-align: middle;
    display: table-cell;
    border-radius: 0.5em;
    border:1px solid black;
}

.shortcut-description {
    margin-right: 10px;
    text-align: left;
    display: table-cell;
    word-break: break-word;
    padding: 1em 1em 0em 0;
    width: 60%;
    font-family: OpenSans;
    font-size:0.875em;
}

.delimiter-shortcut {
    width:0.25em;
    display: inline-block;
    display: table-cell;
    vertical-align: super;
}

.banner-shortcut {
    display: table;
    width: 100%;
}

.shortcut-row {
    display: table-row;
    width: auto;
}