/*******************************************************************************
 Copyright 2011-2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************/
body {
    overflow-y: hidden !important;
}

td.invalid-input-value {
    background-color: #EBCFCF !important;
    border: solid 1px #DC6F6E !important;
}

div.dataTables_wrapper .ui-widget-header {
    font-weight: normal;
}

.dataTables_wrapper {
    position: relative;
    min-height: 0px;
    _height: 0px;
    clear: both;
}

.dataTables_processing {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 250px;
    margin-left: -125px;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 11px;
    padding: 2px 0;
}

.dataTables_length {
    width: 40%;
    float: left;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
}

.dataTables_info {
    width: 50%;
    float: left;
    padding-top: 3px;
}

.dataTables_paginate {
    float: right;
    text-align: right;
    width: auto;
}

.paging_two_button .ui-button {
    float: left;
    cursor: pointer;
    * cursor: hand;
}

.paging_full_numbers .ui-button {
    padding: 2px 6px;
    margin: 0;
    cursor: pointer;
    * cursor: hand;
}

.dataTables_paginate .ui-button {
    margin-right: -0.1em !important;
}

.paging_full_numbers {
    width: 350px !important;
}

.paginate_button {
    background: url('../images/pagination-sprite.png');
}

.paginate_button.first.enabled    { background-position: 0 0;      width: 22px; height: 23px; }
.paginate_button.last.enabled     { background-position: 0 -112px; width: 22px; height: 23px; }
.paginate_button.next.enabled     { background-position: 0 -224px; width: 22px; height: 23px; }
.paginate_button.previous.enabled { background-position: 0 -336px; width: 22px; height: 23px; }

.paginate_button.first    { background-position: 0 -28px;  width: 22px; height: 23px; }
.paginate_button.last     { background-position: 0 -140px; width: 22px; height: 23px; }
.paginate_button.next     { background-position: 0 -252px; width: 22px; height: 23px; }
.paginate_button.previous { background-position: 0 -364px; width: 22px; height: 23px; }

.paginate_button.first.enabled:hover    { background-position: 0 -84px;  width: 22px; height: 23px; }
.paginate_button.last.enabled:hover     { background-position: 0 -196px; width: 22px; height: 23px; }
.paginate_button.next.enabled:hover     { background-position: 0 -308px; width: 22px; height: 23px; }
.paginate_button.previous.enabled:hover { background-position: 0 -420px; width: 22px; height: 23px; }

.pagination-firstPage.enabled.down { background-position: 0 -56px;  width: 22px; height: 23px; }
.pagination-lastPage.enabled.down  { background-position: 0 -168px; width: 22px; height: 23px; }
.pagination-nextPage.enabled.down  { background-position: 0 -280px; width: 22px; height: 23px; }
.pagination-prevPage.enabled.down  { background-position: 0 -392px; width: 22px; height: 23px; }

.dataTables_wrapper .ui-toolbar {
    padding: 5px;
}

.dataTables_scroll {
    clear: both;
}

.dataTables_empty {
    text-align: center;
}

.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
    height: 19px;
    width: 19px;
    margin-left: 3px;
    float: left;
}

.paginate_disabled_previous {
    background-image: url('images/datatables/back_disabled.jpg');
}

.paginate_enabled_previous {
    background-image: url('images/datatables/back_enabled.jpg');
}

.paginate_disabled_next {
    background-image: url('images/datatables/forward_disabled.jpg');
}

.paginate_enabled_next {
    background-image: url('images/datatables/forward_enabled.jpg');
}

table.display {
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
}

table.display thead th {
    background-color: #EDF0F4 !important;
    border-bottom: 2px solid #AAAAAA;
    cursor: pointer;
    padding: 3px 0 3px 10px;
    height:25px;
}

table.display thead th div.DataTables_sort_wrapper {
    position: relative;
    padding-right: 20px;
    padding-right: 20px;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

table.display thead th div.DataTables_sort_wrapper span {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 0;
    left:auto;
}

table.display tfoot th {
    padding: 3px 0px 3px 10px;
    font-weight: bold;
    font-weight: normal;
}

table.display tr.heading2 td {
    border-bottom: 1px solid #aaa;
}

table.display td {
    padding: 3px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

table.display td.center {
    text-align: center;
}

tr.odd {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    border-color: #DDDDDD;
    height: 25px;
}
tr.even {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    border-color: #DDDDDD;
    height: 25px;
}

.sorting_asc {
    background: url('images/datatables/sort_asc.png') no-repeat center right;
}

.sorting_desc {
    background: url('images/datatables/sort_desc.png') no-repeat center right;
}

.sorting {
    background: url('images/datatables/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
    background: url('images/datatables/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
    background: url('images/datatables/sort_desc_disabled.png') no-repeat center right;
}

.top {
    padding: 15px;
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
}

.bottom {
    padding: 0 15px 15px;
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
}

.top .dataTables_info {
    float: none;
}

.clear {
    clear: both;
}

tfoot input {
    margin: 0.5em 0;
    width: 100%;
    color: #444;
}

tfoot input.search_init {
    color: #999;
}

td.group {
    background-color: #d1cfd0;
    border-bottom: 2px solid #A19B9E;
    border-top: 2px solid #A19B9E;
}

td.details {
    background-color: #d1cfd0;
    border: 2px solid #A19B9E;
}

.paging_full_numbers span.paginate_button,
.paging_full_numbers span.paginate_active {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    *cursor: hand;
}

.paging_full_numbers span.paginate_button {
    background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
    background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
    background-color: #99B3FF;
}

table.display tr.even.row_selected td {
    background-color: #194F85;
    color: white;
}

table.display tr.odd.row_selected td {
    background-color: #194F85;
    color: white;
}

table.rowselect tr.focus {
    border: 1px solid green;
    background-color: #ccffcc !important;
    color: #000000 !important;
}
table.rowselect tr.focus td {
    background-color: #ccffcc !important;
}
table.keytable td {
    border-left-width: 1px;
    border-right-width: 1px;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 0 1.5em;
}

.ui-widget-header {
    min-height: 2.5em;
    line-height: 2.5em;
    padding-left: .75em;
}

.ui-input-text {
    padding: 0.46em 0.5em;
    margin-right: 0.1em;
}

.ui-corner-all {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.ui-corner-all.ui-button.ui-widget {
    border: none;
    background-color: rgb(88, 88, 88);
    background-image: url( '../images/prim-secndry-buttons-sprite.png' ), url( '../images/prim-secndry-buttons-sprite.png' ), url( '../images/prim-secndry-buttons-sprite.png' );
    background-position: left 0px, right -58px, 0 -29px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    height: 24px;
    color: #FFFFFF;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 10px;
}

.ui-button:hover {
    background-position: left -87px, right -145px, 0 -116px;
}

.ui-button:disabled {
    background-position: left -174px, right -232px, 0 -203px;
}

.ui-widget-content {
    border-style: none;
}

div.ui-widget div.ui-widget-header {
    border-style: none;
    border: 0;
}

.ui-widget-header {
    line-height: 35px;
    min-height: 35px;
    padding-left: 0.75em;
}

div.ui-widget div.ui-widget-header {
    background-image: url( '../images/section-hdr-bg.png');
    background-repeat: repeat-x;
    background-color: transparent;
}

div.ui-widget div.ui-widget-content {
    border: none;
}

.inputWrapper {
    float: left;
}

.floatLeft {
    float: left;
}

#courseSelectionContainer {
    float: left;
    clear: both;
    margin-top: 10px;
}

#enableTermSelectControl {
    display: none;
}

table.display tr.row_hover td {
    color: #000000 !important;
}

table.display tr.even.row_hover td,
table.display tr.odd.row_hover td,
table.display tr.odd.row_hover td.sorting_1,
table.display tr.even.row_hover td.sorting_1 {
    background-color: #B2CEDF;
}

.datatables-save-success {
    background-color: #e3edd1 !important;
}

.cell-save-successful {
    background-color: #FFFFFF !important;
    background-image: url("success_new.png");
    background-origin: content;
    background-position: right center;
    background-repeat: no-repeat;
    border-color: green;
    border-style: solid;
    border-width: 1px;
    padding-right: 5px;
}

.cell-error {
    background-color: #FFFFFF !important;
    background-image: url("error_icon.png");
    background-origin: content;
    background-position: right center;
    background-repeat: no-repeat;
    border-color: red;
    border-style: solid;
    border-width: 1px;
    padding-right: 5px;
}

.page-with-sidebar {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: medium none;
}

.footer {
    float: right;
}

.content-container-header {
    position:relative;
    z-index:1;
}


.ui-layout-resizer-west, .ui-layout-resizer-east {
    background: #f7f7f7; /* Old browsers, and IE8-9 break if filter enabled but no background */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(left, #f7f7f7 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f7f7f7), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #f7f7f7 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #f7f7f7 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #f7f7f7 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(left, #f7f7f7 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#cccccc',GradientType=1 ); /* IE6-8 */
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #BBBBBB;
}

.ui-layout-resizer-north, .ui-layout-resizer-south {
    background: -moz-linear-gradient(top center, #F7F7F7 0pt, #CCCCCC 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, top center, bottom center, from(#F7F7F7), color-stop(0.46, #ffffff), to(#CCCCCC));
    background: -webkit-linear-gradient(top, #F7F7F7 0%, #CCCCCC 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-repeating-linear-gradient(top center,   #F7F7F7, #CCCCCC 0px, #CCCCCC 8px) repeat scroll 0 0 transparent !important; /* IE10+ */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#CCCCCC');

    background:#f7f7f7;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #BBBBBB;
}

.ui-layout-toggler-east-open {
    background: url('ui-layout-divider-arrow-e.png') no-repeat scroll center center !important;
}

.ui-layout-toggler-east-closed {
    background: url('ui-layout-divider-arrow-w.png') no-repeat scroll center center !important;
}

.ui-layout-pane {
    padding: 0px !important;
    border: 0px !important;
    direction: ltr;
    width: 100%;
    overflow-x: hidden !important;
}

.ui-layout-pane-north, .ui-layout-pane-south {
    padding: 0px !important;
}

#content .inner-south.ui-layout-pane-south {
    background: -moz-linear-gradient(49.9999% 0 -90deg, #F1F1F3 0%, #E5E7EA 100%) repeat scroll 0 0 transparent !important;
    padding: 0 10px 0 0 !important;
}

.ui-widget-section {
    padding: 10px;
}

#splash {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #FFFFFF;
    z-index: 9999;
}

div.warnicon {
    padding-left: 20px;
    background: url("ssb/icon-warning.png") no-repeat left center;
}

div.spinner-img {
    background: url("spinner.gif") no-repeat;
}

.ui-button.combobox{
    background: url('select-box-sprites.png') no-repeat scroll -7px 1px transparent!important;
}

input.hasDatepicker + button{
    background: url('date-picker-sprites.png') no-repeat scroll -7px 1px transparent!important;
}

input.combobox:hover , input.hasDatepicker:hover{
    border-color:#4282B3;
}

input.combobox:focus,input.hasDatepicker:focus{
    border-color:#4282B3 !important;
}

input.combobox:hover + .ui-button.combobox, .ui-button.combobox:hover , input.hasDatepicker:hover + button, input.hasDatepicker + button:hover{
    background-position:-7px -49px !important;
}

input.combobox:focus + .ui-button.combobox, input.hasDatepicker:focus + button{
    background-position:-7px -87px;
}

ul.ui-tabs-nav {
    height:25px;
    bottom-border: 1px solod #7F9AAD;
}

.bottom {
    padding: 0 15px 2px;
}

.dataTables_paginate {
    float: left;
    text-align: left;
    padding-top: 6px;
    line-height: 1.5em;
}

.dataTables_length {
    float: left;
    text-align: left;
    padding-top: 8px;
    line-height: 1.5em;
}

.notvisible {
    visibility: hidden;
    display: none;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

/* SimpleModal jQuery plugin */

#simplemodal-overlay {background-color:#000;}
#simplemodal-container {
    background-color:#87b4d0;
    border: 6px solid #87b4d0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -moz-box-shadow: 3px 3px 5px #444444;
    -webkit-box-shadow: 3px 3px 5px #444444;
    box-shadow: 3px 3px 5px #444444;
    /*filter:alpha(opacity=50);*/
    /*opacity:0.5;*/
}

.simplemodal-wrap {
    /*filter:alpha(opacity=100);*/
    /*opacity:1.0;*/
}

.buttons {
    float: right;
}

.buttons button {
    float: right;
    clear: none;
    margin-right: .5em;
}

.buttons button:first-child {
    float: right;
    clear: none;
    margin-right: 0px;
}

.development {
    display: none;
    visibility: hidden;
}

.ui-lazy-load {
    display: none;
    visibility: hidden;
}

.ui-widget-content {
    border-style:  none;
}

div.ui-widget div.ui-widget-header {
    border-style:  none;
    border: 0;
}

.ui-widget-header {
    height: 2.5em;
    min-height: 2.5em;
    line-height: 2.5em;
    padding-left: 0.75em;
    text-align: left;
}

.ui-widget-hidden {
    visibility: hidden;
    display: none;
}

/* sidebar tab skinning */

.ui-tabs .ui-corner-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.ui-tabs, .ui-tabs .ui-tabs-panel {
    padding:  0;
}

#sidebar ul.ui-tabs-nav {
    background: url("tab-bg.jpg") repeat-x 0px bottom transparent;
    padding: 0 0 0 15px;
    z-index: 0;
}

div#sidebar ul.ui-tabs-nav li.ui-state-default {
    background:none;
    margin:0px;
    border-width:0px;
    /*TODO cannot get padding & top border to work with heights
    padding-top: 3px;
    border-top:1px solid #fff;
    */
    border-left:2px solid #c1c1c1;
}

div#sidebar ul.ui-tabs-nav li.ui-state-default:last-child {
    border-right:2px solid #c1c1c1;
}

div#sidebar ul.ui-tabs-nav,
div#sidebar ul.ui-tabs-nav li {
    height:2em;
    min-height:2em;
    line-height:2em;
}

div#sidebar ul.ui-tabs-nav li.ui-state-default.ui-state-active,
div#sidebar ul.ui-tabs-nav li.ui-state-default.ui-state-active.ui-state-hover,
div#sidebar ul.ui-tabs-nav li.ui-state-default.ui-state-hover {
    background-image:none;
    background-color:#f7f7f7;
    top:0px;
}

div#sidebar ul.ui-tabs-nav li.ui-state-default.ui-state-active a,
div#sidebar ul.ui-tabs-nav li.ui-state-default.ui-state-active.ui-state-hover a,
div#sidebar ul.ui-tabs-nav li.ui-state-default.ui-state-hover a {
    color:#333333;
    background-image: none;
}

table.cellselect td.focus,
table.rowselect tr.focus {
    border: none;
    background-color: inherit;
}
table.rowselect tr.focus td {
    background-color: inherit; /*#ccffcc !important;*/
}
table.keytable td {
    border-left-width: 0px;
    border-right-width: 0px;
}

table.cellselect td {
    padding:0 1em; /*override from before*/
}

input.combobox {
    width:100%;
    margin:0 -1.9em 0 0; /* leave space for button width */
    padding:0 0;
    height:1.7em;
    border:1px solid #778FA0;
}

input.hasDatepicker {
    width:100%;
    margin:0 -1.9em 0 0; /* leave space for button width */
    padding:0 0;
    height:1.7em;
    border:1px solid #778FA0;
}
/*this should be in themeroller theme?*/
input.combobox + button {
    height: 2.2em;
    margin: 0;
    padding: 0;
    width: 2.2em;
}
input.hasDatepicker + button {
    height: 2.2em;
    margin: 0;
    padding: 0;
    width: 2.2em;
}
.combobox+button .ui-button-text {
    margin:0;
    padding:0;
}
.combobox .ui-icon {
    left:0; /* position arrow, overriding themeroller?*/
    background:none;
}


table {
    border-spacing:0px;
    border: 1px solid #DDDDDD;
}

ul.ui-autocomplete {
    border:1px solid #4282b3;
    height:10em;
    overflow-y:auto;
}

ul.ui-autocomplete a.ui-state-hover {
    background-color: #778fa1;
}


.loading {
    opacity:0.4;
    filter:alpha(opacity=40); /* IE8 */
    background:#000 url('loading-animation.gif') no-repeat center;

    z-index:99999;

    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}

.loading-pending {
    visibility:hidden;
}

.dataTables_wrapper table tbody tr td form {
    /*margin:1px -1em; *//*push margin out to use full cell*/
    /*margin-top: -2px;*/
    /*height: 1.8em;*/
}
.dataTables_wrapper table tbody tr td form input {
    vertical-align: top;
    /*margin-top: 2px;*/
    width: 98% !important;
    padding-left: 5px;
    height: 100% !important;
    border: 1px solid #778FA0;
}

.dataTables_paginate div,
.dataTables_paginate span,
.dataTables_paginate input {
    float: left;
}

.dataTables_paginate .paginate_page,
.dataTables_paginate .paginate_of {
    margin-left: 5px;
    margin-right: 5px;
}

.dataTables_paginate .paginate_of,
.dataTables_paginate .paginate_page,
.dataTables_paginate .paginate_total {
    margin-top: 2px;
}

.dataTables_paginate,
.dataTables_info {
    cursor: default;
}

.dataTables_paginate .paginate_button.enabled {
    cursor: pointer;
}

.bottom .dataTables_info {
    float: right;
    padding-top: 0px;
    width: auto;
}

.bottom .bottom-divider {
    border-left: 1px solid #000000;
    float: left;
    height: 17px;
    margin-right: 10px;
    margin-left: auto;
    margin-top: 9px;
    width: 1px;
}

div.infoicon {
    padding-left: 22px;
    background: url("../images/icon-info.png") no-repeat left center;
}

.ui-datepicker{
    height:16.5em;
}

.ui-datepicker .ui-datepicker-header {
    background-color: #ECF0F4;
}

/* notification/datatables integration classes */

.dataTables_wrapper tr.notification-error td:first-child {
    background:url("../images/icon-error-16x16-plus7.png") no-repeat left center
}

.dataTables_wrapper tr.notification-success td:first-child {
    background:url("../images/icon-success-16x16-plus7.png") no-repeat left center
}

.dataTables_wrapper tr.notification-warning td:first-child {
    background:url("../images/icon-warning-16x16-plus7.png") no-repeat left center
}

.dataTables_wrapper tr.notification-success {
    background-color: #DDF4C9;
}

.dataTables_wrapper tr.notification-error {
    background-color: #EBCFCF;
}

.dataTables_wrapper tr.notification-error {
    border: 1px solid #FF3F3F;
    background-color: #EBCFCF;
}

.dataTables_wrapper tr.notification-warning {
    background-color: #FFF6B3;
}

.dataTables_wrapper tr.notification-warning {
    border: 1px solid #f9dc87;
    background-color: #FFF6B3;
}

/* pill box */

.ui-pillbox {
    cursor: default;
    display: inline-block
}

.ui-pillbox ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /*height: 16px;*/ /* EDS */
    border: 1px solid #b2b3b7; /* EDS */
    list-style-type: none;
}

.ui-pillbox li {
    float: left;
    min-width: 14px;
    height: 16px;
    font-size: 10px;
    font-family: Arial;
    outline-color: #81C8FF; /* EDS */
    font-weight: bold;
    color: #bcbec0;
    background: #fff;
}

.ui-pillbox li.ui-state-default,
.ui-pillbox li.ui-state-disabled {
    color: #151618; /* EDS */
    background: #fff;
    border-top: 0;
    border-bottom: 0;
    border-right: 0px;
    border-left: 1px solid #b2b3b7; /* EDS */
    opacity: 100;
    filter: Alpha(Opacity=100);
}

.ui-pillbox li.ui-state-disabled {
    color: #b2b3b7; /* EDS */
}

.ui-pillbox li.ui-state-highlight {
    background: #0A4982; /* EDS */
    color: #ffffff; /* EDS */
    border-top: 0;
    border-bottom: 0;
    border-right: 0px;
    border-left: 1px solid #b2b3b7; /* EDS */
}

.ui-pillbox li:first-child {
    border-left:0;
}

.ui-pillbox li:last-child {
    border-right: 0;
}

.ui-pillbox li div {
    height: 16px;
    min-width: 14px;
    line-height: 16px;
    text-align: center;
    padding: 0 3px;
}

#multiCalendarContainer  .ui-widget-header{
    background: none repeat scroll 0 0 #ECF0F4;
}

#multiCalendarContainer .ui-datepicker {
    height: auto;
    padding: 0;
}

.screen-reader {
    position: absolute;
    left: -200em;
    right: auto;
    top: -20em;
}

.component-error {
    border:1px solid #cc0000;
}

.component-error:focus {
    border-width:2px;
    outline: none;
}

#content{
    font: 10px Arial,Helvetica,sans-serif; /* TODO: This font styling is removed from the body tag as header font is styled in em. Once the content section is styled in em this should be removed */
}