/** *****************************************************************************
 Copyright 2015 Ellucian Company L.P. and its affiliates.
 ****************************************************************************** */
.select2-container .select2-choice .select2-arrow {
    right: auto;
    left: 0;
    border-left: medium none;
    border-right: 1px solid #aaa;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}


.select2-dropdown-open .select2-choice div {
    border-right: medium none;
}

.select2-search input  {
    background-position:left;
    background:#fff url('select2-rtl.png') no-repeat 0px 4px !important;
    background:url('select2-rtl.png') no-repeat 0px 4px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee))!important;
    background:url('select2-rtl.png') no-repeat 0px 4px, -webkit-linear-gradient(to bottom, #fff 85%, #eee 99%) !important;
    background:url('select2-rtl.png') no-repeat 0px 4px, -moz-linear-gradient(to bottom, #fff 85%, #eee 99%) !important;
    background:url('select2-rtl.png') no-repeat 0px 4px, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0 !important;
}


.select2-search-choice-close  {
    background-position: right top;
}

.select2-container .select2-choice abbr, .select2-container .select2-choice abbr:hover{
    background:url('select2.png') right top no-repeat;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover,
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close,
.select2-container .select2-choice abbr:hover
{
    background-position: right -11px;
}

.select2-container-multi .select2-choices .select2-search-choice{
    margin: 3px 5px 3px 0;
    padding: 3px 18px 3px 5px;
}
